
<!-- 推荐感兴趣校友开始 -->
<script type="text/html" id="recommend_interest_schooler">
<% for(i = 0 ; i < recommendSchoolerList.length ; i++){ %>
	<div class="to_interest_people fl">
		<div class="interest_people_detail_div">
			<div class="interest_people_pic_div fl">

			<div class="interest_people_pic">

				<img src="<%=recommendSchoolerList[i].iconUrl %>" />

			</div>
			<div class="interest_people_name">
			<%= recommendSchoolerList[i].name %>
		</div>
	</div>
		<div class="interest_people_detail fr">
<span class="common_font">擅长:</span><br/>
<% for(j = 0 ; j < recommendSchoolerList[i].goodAt.length ; j++){ %>
<%=recommendSchoolerList[i].goodAt[j] %><br/>
<% } %>
		</div>
	</div>
			<div class="mark_icon_container">
			<a href="#" >
				<div class="mark_icon">
				</div>
			</a>
			</div>
		</div>
<% } %>
</script>
<!-- 推荐感兴趣校友结束 -->

<!--  banner画廊开始 -->
 <script type="text/html" id="image_gallary">
		<ul class="am-slides">
		<% for(i = 0 ; i < imageList.length ; i++) { %>
		<li>
				<img src="<%=imageList[i].imageUrl %>" />
				<div class="am-slider-desc"><%=imageList[i].description %></div>
			</li>
		<% }%>
		</ul>
</script>
<!-- banner画廊结束 -->

<!-- 推荐感兴趣话题开始 -->
<script type="text/html" id="recommend_interest_topic">

<% for(i = 0 ; i < recommendList.length ; i++) { %>
		<div class="to_interest_topic fl">
			<div class="interest_topic_pic over_img_container">
				<a class="over_img" href="#">
				<img src="<%=recommendList[i].imageUrl %>" />
				</a>
				<div class="over_img_description modal base_bg_color_85">
				<%=recommendList[i].description %>
				</div>
			</div>
			<div class="ask_and_interest_div">
				<div class="interest_topic_icon fl">
					<img src="/static/image/index/interest_icon.png" />关注
					<%=recommendList[i].focusCount %>
				</div>
				<div class="ask_topic_icon fr">
					<img src="/static/image/index/ask_icon.png" />提问
					<%=recommendList[i].askCount %>
				</div>
			</div>
			<div class="mark_icon_container">
			<a href="#" >
				<div class="mark_icon">
				</div>
			</a>
			</div>
		</div>

<% } %>

</script>
<!-- 推荐感兴趣话题结束 -->


<!-- 关注话题有了新的提问开始 -->
<script type="text/html" id="recommend_topic_answer" charset="utf-8">
<div class="topic_answer">
<div class="topic_answer_left_bar fl">
	<img src="<%=data.questioner_head %>" class="common_icon" />
</div>
<div class="topic_answer_content fl">
<div class="topic_answer_header border_bottom_dark">
<div class="topic_answer_header_people_name">
<span class="dark_font font_ya_hei">我关注的话题</span>
&nbsp;&nbsp;


<span class="font_ya_hei havier_font"><a href="/topic/<%=data.topic_id"><%=data.topic_name %></a></span>&nbsp;&nbsp;<span class="dark_font">有了新的提问</span><br />
</div>
<div class="people_answer_header_answer_name">
<span class="common_font font_ya_hei"><%=data.question_content %></span>
<div class="fr">
<img src="/static/image/index/view_icon.png"  /><span class="view_count"><%=data.browse_num %></span>
<img src="/static/image/index/comment_icon.png" /><span class="comment_count"><%=data.answer_num %></span>&nbsp;&nbsp;&nbsp;

</div>
</div>
<div>

<span class="fl font_small"><a href="/people/<%= data.questioner_id %>"><%= data.questioner_name %></a>·通信工程·2011级·本科</span>

</div>

</div>


<div class="topic_answer_detail border_bottom_dark">
<div class="topic_answer_detail_left_bar fl">
	<div class="topic_answer_detail_pic_div">
<img src="<%=data.answerer_head %>" class="common_icon" />
</div>
<div class="topic_answer_detail_agree_div">
<div class="topic_answer_detail_agree_icon">

<span class="people_answer_detail_agree_count"><span class="am-icon-thumbs-o-up"></span><%=data.support_num %></span>
</div>
</div>
</div>
<div class="topic_answer_detail_text fl">
<div class="topic_answer_detail_text_context">
<%=data.answer_content %>
<span class="common_font">点击展开>>></span>
</div>
<br />
<div class="topic_answer_detail_text_time ">
<span class="fl font_small"><a href="/people/<%= data.answerer_id %>"><%= data.answerer_name %></a>·通信工程·2011级·本科</span>
<div class="fr">
<img src="/static/image/index/time_icon.png"  /><%=data.publish_time %>
</div>
</div>
</div>
</div>
</div>
</div>
</script>
<!-- 关注话题有了新的提问结束 -->


<!-- 关注话题有了新的回复开始 -->
<script type="text/html" id="recommend_topic_answer_response" charset="utf-8">
<div class="topic_answer">
<div class="topic_answer_left_bar fl">
	<img src="<%=data.questioner_head %>" class="common_icon" />
</div>
<div class="topic_answer_content fl">
<div class="topic_answer_header border_bottom_dark">
<div class="topic_answer_header_people_name">
<span class="dark_font font_ya_hei">我关注的话题</span>
&nbsp;&nbsp;


<span class="font_ya_hei havier_font"><a href="/topic/<%=data.topic_id"><%=data.topic_name %></a></span>&nbsp;&nbsp;<span class="dark_font">有了新的回答</span><br />
</div>
<div class="people_answer_header_answer_name">
 <span class="common_font font_ya_hei"><%=data.question_content %></span>
<div class="fr">
<img src="/static/image/index/view_icon.png"  /><span class="view_count"><%=data.browse_num %></span>
<img src="/static/image/index/comment_icon.png" /><span class="comment_count"><%=data.answer_num %></span>&nbsp;&nbsp;&nbsp;

</div>
</div>
  <span class="fl font_small"><a href="/people/<%= data.questioner_id %>"><%= data.questioner_name %></a>·通信工程·2011级·本科</span>


</div>


<div class="topic_answer_detail border_bottom_dark">
<div class="topic_answer_detail_left_bar fl">
	<div class="topic_answer_detail_pic_div">
<img src="<%=data.answerer_head %>" class="common_icon" />
</div>
<div class="topic_answer_detail_agree_div">
<div class="topic_answer_detail_agree_icon">

<span class="people_answer_detail_agree_count"><span class="am-icon-thumbs-o-up"></span><%=data.support_num %></span>
</div>
</div>
</div>
<div class="topic_answer_detail_text fl">
<div class="topic_answer_detail_text_context">
<%=data.answer_content %>
<span class="common_font">点击展开>>></span>
</div>
<br />
<div class="topic_answer_detail_text_time ">
<span class="fl font_small"><a href="/people/<%= data.answerer_id %>"><%= data.answerer_name %></a>·通信工程·2011级·本科</span>
<div class="fr">
<img src="/static/image/index/time_icon.png"  /><%=data.publish_time %>
</div>
</div>
</div>
</div>
</div>
</div>
</script>
<!-- 关注话题有了新的回复结束 -->

<!-- 关注问题有了新的回复开始 -->
<script type="text/html" id="recommend_answer_response" charset="utf-8">
<div class="topic_answer">
<div class="topic_answer_left_bar fl">
	<a href="/people/<%= data.questioner_id %>"><img src="<%=data.questioner_head %>" class="common_icon" /></a>
</div>
<div class="topic_answer_content fl">
<div class="topic_answer_header border_bottom_dark">
<div class="topic_answer_header_people_name">
<span class="dark_font font_ya_hei">我关注的问题<a href="/question/"><%= data.question_content%></a>有了新的回复</span>
</div>
<div class="people_answer_header_answer_name">
<span class="common_font font_ya_hei"><%=data.questin_content %></span>
<div class="fr">
<img src="/static/image/index/view_icon.png"  /><span class="view_count"><%=data.browse_num %></span>
<img src="/static/image/index/comment_icon.png" /><span class="comment_count"><%=data.answer_num %></span>&nbsp;&nbsp;&nbsp;

</div>
</div>

<span class="font_ya_hei dark_font font_small"><a href="/people/<%= data.questioner_id %>"><%= data.questioner_name %></a>·通信工程·2011级·本科</span>


</div>


<div class="topic_answer_detail border_bottom_dark">
<div class="topic_answer_detail_left_bar fl">
	<div class="topic_answer_detail_pic_div">
<img src="<%=data.answerer_head %>" class="common_icon" />
</div>
<div class="topic_answer_detail_agree_div">
<div class="topic_answer_detail_agree_icon">

<span class="people_answer_detail_agree_count"><span class="am-icon-thumbs-o-up"></span><%=data.support_num %></span>
</div>
</div>
</div>
<div class="topic_answer_detail_text fl">
<div class="topic_answer_detail_text_context">
<%=data.answer_content %>
<span class="common_font">点击展开>>></span>
</div>
<div class="topic_answer_detail_text_time ">
<span class="fl font_small"><a href="/people/<%= data.answerer_id %>"><%= data.answerer_name %></a>·通信工程·2011级·本科</span>
<div class="fr">
<img src="/static/image/index/time_icon.png"  /><%=data.publish_time %>
</div>
</div>
</div>
</div>
</div>
</div>
</script>
<!-- 关注问题有了新的回复结束 -->




<!-- 关注人物新的回答开始 -->
<script type="text/html" id="recommend_people_answer" charset="utf-8">

<div class="people_answer">
	<div class="people_answer_left_bar fl">
		<img src="<%=data.questioner_head %>" class="common_icon" />
	</div>
	<div class="people_answer_content fl">
		<div class="people_answer_header border_bottom">
			<div class="people_answer_header_people_name">
				<span class="dark_font font_ya_hei">我关注的校友</span>&nbsp;&nbsp;
				<span class="font_ya_hei font_all_black"><a href="/people/<%=data.questioner_id %>"><%=data.questioner_name %></a></span>&nbsp;&nbsp;
				<span class="dark_font font_ya_hei">回答了</span><br />
			</div>
			<div class="people_answer_header_answer_name">
			<span class="common_font font_ya_hei"><a href="/question/<%=data.questioner_id %>"><%=data.question_content %></a></span>
				<div class="fr">
					<img src="/static/image/index/view_icon.png"  /><span class="view_count"><%=data.browse_num %></span>
					<img src="/static/image/index/comment_icon.png" /><span class="comment_count"><%=data.answer_num %></span>&nbsp;&nbsp;&nbsp;

				</div>
			</div>

		</div>


	<div class="people_answer_detail border_bottom_dark">
		<div class="people_answer_detail_left_bar fl">
			<div class="people_answer_detail_pic_div">
				<a href="/people/<%= data.answerer_id %>"><img src="<%=data.answer_head%>" class="common_icon" /></a>
			</div>
			<div class="people_answer_detail_agree_div">
				<div class="people_answer_detail_agree_icon">
					<span class="people_answer_detail_agree_count"><span class="am-icon-thumbs-o-up"></span><%=data.support_num %></span>
			</div>
		</div>
	</div>
	<div class="people_answer_detail_text fl">
		<div class="people_answer_detail_text_context">
			<%=data.answer_content %><span class="common_font">点击展开>>></span>
		</div>
		<div class="people_answer_detail_text_time">
			<img src="/static/image/index/time_icon.png" /><%=data.publish_time %>
		</div>
	</div>
</div>


</script>
<!-- 关注人物新的回答结束 -->



<!-- 人物与话题开始 -->
	<script type="text/html" id="people_and_answer" charset="utf-8">
		<% for(i = 0 ; i < data.length ; i ++){ %>
		<div class="people_and_answer">
			<div class="people_and_answer_title"><a href="question/<%= data[i].question_id %>"><%= data[i].question_content %></a></div>
			<div class="people_and_answer_userinfo">
			<div class="fl" ><img src="<%= data[i].head %>" width="50" height="50" class="roundImg" /></div>
			<div class="fl people_and_answer_content">
                <p><a href="/people/<%= data[i].user_id"><%= data[i].user_name %></a></p>
                <p><%= data[i].academy %></p><p>2011本科</p></div>
		</div>
		</div>
		<% } %>
	</script>

<!-- 人物与话题结束 -->


<!--  推荐问答开始 -->
 <script type="text/html" id="recommend_answer" charset="utf-8">

<% for(i = 0 ; i < data.length ; i++){ %>
<div class="answer">
<div class="answer_left_bar fl">
	<img src="<%=data[i].questioner_head %>" class="common_icon" />
</div>
<div class="answer_content fl">
<div class="answer_header border_bottom_dark">
<div class="people_answer_header_answer_name">
<span class="common_font"><a href="/people/<%=data[i].questioner_id %>"><%=data[i].questioner_name %></a></span>
<div class="fr">
<img src="/static/image/index/view_icon.png"  /><span class="view_count"><%=data[i].browse_num %></span>
<img src="/static/image/index/comment_icon.png" /><span class="comment_count"><%=data[i].answer_num %></span>&nbsp;&nbsp;&nbsp;

</div>
</div>
<div>

<span class="font_ya_hei dark_font font_small"><%=data[i].questioner_name %>·通信工程·2011级·本科</span>

</div>

</div>


<div class="answer_detail border_bottom_dark">
<div class="answer_detail_left_bar fl">
	<div class="answer_detail_pic_div">
<img src="<%=data[i].answerer_head %>" class="common_icon" />
</div>
<div class="answer_detail_agree_div">
<div class="answer_detail_agree_icon">

<span class="people_answer_detail_agree_count"><span class="am-icon-thumbs-o-up"></span><%=data[i].support_num %></span>
</div>
</div>
</div>
<div class="answer_detail_text fl">
<div class="answer_detail_text_context">
<%=data[i].answer_content %><span class="common_font">点击展开>>></span>
</div>
<div class="answer_detail_text_time ">
<span class="fl font_small"><%=data[i].answerer_name %>·通信工程·2011级·本科</span>
<div class="fr">
<img src="/static/image/index/time_icon.png"  /><%=data[i].question_time %>
</div>
</div>
</div>
</div>
</div>
</div>
<% } %>
</script>
<!--  推荐问答结束 -->


<!--  推荐人物新问答开始 -->
 <script type="text/html" id="recommend_people_new_ask" charset="utf-8">
<div class="people_new_ask">
<div class="people_ask_left_bar fl">
	<a href="/people/<%=data.questioner_id %>"><img src="<%=data.questioner_head %>" class="common_icon" /></a>
</div>
<div class="people_ask_content border_bottom fl">
<div class="people_ask_header">
<div class="people_ask_header_people_name">
<span class="dark_font font_ya_hei">我关注的校友</span>
&nbsp;&nbsp;
<span class="font_ya_hei font_all_black"><%=data.questioner_name %></span>
&nbsp;&nbsp;

<span class="dark_font font_ya_hei">有出了新的提问</span><br />
</div>
<div class="people_ask_header_answer_name">
<span class="common_font font_ya_hei"><a href="/people/<%=data.question_id %>"><%=data.question_content %></a></span>
<div class="fr">
<img src="/static/image/index/view_icon.png"  /><span class="view_count"><%=data.browse_num %></span>
<img src="/static/image/index/comment_icon.png" /><span class="comment_count"><%=data.answer_num %></span>&nbsp;&nbsp;&nbsp;
</div>
</div>
</div>



<div class="people_ask_detail_text_time">
<img src="/static/image/index/time_icon.png" /><%=data.publish_time %>
</div>



</div>
</div>

</script>
<!--  推荐人物新问答结束 -->


            <script type="text/html" id="selecter_creater">
<% for(i = 0 ; i < data.length ; i++){ %>
 <li  value="<%= data[i].value %>"><a href="#"><%= data[i].text %></a></li>
                <% }%>
</script>


 <script type="text/html" id="topic_new_questiuon_list">


		<div class="topic_answer_list_area">
		<div class="topic_answer_list_header">
		<div class="fl dark_font">最新问题</div>
		<div class="fr dark_font">点击收起</div>
		</div>
		<div class="topic_answer_list_content">
		<ul>

               <% for(i = 0 ; i < data.length ; i++){ %>
			<li>
			<div class="topic_title fl common_font">
<a href="/question/<%= data[i].question_id %>"><%= data[i].question_content %><a>
			</div>
			<div class="commment_count fr">
<img src="/static/image/index/comment_icon.png" />
			</div>
			</li>
 <% } %>

		</ul>

		</div>
		</div>
    </script>

 <script type="text/html" id="focus_topic_list">
   <% for(i = 0 ; i < data.length ; i++){ %>

<div class="topic_and_answer_recommend_container border_bottom" id="topic_<%= data[i].topic_id %>">
		<div class="topic_detail_area border_bottom_dark">
		<div class="topic_img fl" >
		<img src="<%= data[i].topic_pic %>" />
		</div>
		<div class="topic_detail_content fl" >
		<h1 class="common_font"><%= data[i].topic_name %></h1>
		<p class="dark_font"><%= data[i].topic_name %></p>
		<div class="topic_icons">
			<div class="ask_and_interest_div fl">
				<div class="interest_topic_icon fl">
					<img src="/static/image/index/interest_icon.png" />关注<%= data[i].focus_num %>
				</div>
				<div class="ask_topic_icon fr">
					<img src="/static/image/index/ask_icon.png" />提问 <%= data[i].discuss_num %>
				</div>
			</div>
			<div class="mark_icon_container fr">
			<a href="javascript:void(0)"  >
				<div class="mark_icon focus_topic" onclick="focusTopic(<%= data[i].topic_id %>)">
				</div>
			</a>
			</div>
		</div>

		</div>

		</div>

		<!-- 话题下的问答列表开始  -->

<!-- 话题下的问答列表结束  -->
		</div>

     <% } %>
     </script>
<script type="text/html" id="hot_school_topic_list">
<!-- 本校热门话题开始 -->

        	<a href="#" class="fl"><div class="topic_rec_normal">全部话题</div></a>
        <% for(i = 0 ; i < data.length ; i++){ %>
	<!-- 推荐话题充字数开始 -->
	<a href="javascript:void(0)" class="topic_rec_margin fl"><div class="topic_rec_normal" onclick="focusTopic(<%= data[i].topic_id %>)"><%= data[i].topic_name %></div></a>
 <% } %>
	<!-- 推荐话题充字数结束 -->

<!-- 本校热门话题结束 -->
</script>

<script type="text/html" id="new_comment_input">

    <div class="comment_reply_input_area" value="<%= data.user_id %>">
        <div class="comment_replt_input fl">
    <input type="text" class="am-form-field " placeholder="有话不说憋着多难受啊" value="回复@<%= data.user_name %>:" />
    </div>
<div class="comment_reply_submit_area fl">
        <button class="am-btn am-btn-secondary fr submit_comment_btn">提交评论</button>
<div class="switch_radio comment_reply_sheld_name_selecter fr" value="uncheck">
    <img src="/static/image/index/radio_unselect.png" />
    匿名回复
</div>
</div>
    </div>

</script>
<script type="text/html" id="comment_div">
         <div class="answer_comment">
	<div class="left_bar">
	<a href="#">
	<div class="common_icon" >
		<img src="/static/image/people_detail_pic_60_60.jpg" />
	</div>
	</a>
	</div>
	<div class="second_level_container">
	<div class="user_name_and_time_container">
        <div class="common_font fl comment_user_name_container"><a href="/people/<%= data.user_id %>" value="<%= data.user_id %>" class="comment_user_name_href"><%= data.username %></a></div>   <div class="time_icon_container fl comment_time_container">
<img src="/static/image/index/time_icon.png" /><%= data.time %>
</div>
        <div class="fr common_font comment_reply_container new_comment_reply_href"><a href="javascript:void(0)">回复</a></div>
    </div>
        <div class="comment_context_container fl dark_font">
            <%= data.content %>
        </div>


    </div>
    </div>
</script>


<script type="text/html" id="common_user_information_poper">


<div class="single_user_detail_poper">

<div class="user_info_intro_container fl">
   <div class="fl">

       <img src="/static/image/avatar-min-img.jpg" class="small_icon_50_50 common_round_img"  />
   </div>
    <div class="user_intro_content_container fl">
        <p><a href="#">徐子豪</a></p>
        <p>通信工程·2011级·本科</p>
    </div>

</div>
    <div class="user_info_detail_container fl">
        通信工程·2011级·本科通信工程·2011级·本科通信工程·2011级·本科通信工程·2011级·本科

    </div>
    <div class="user_info_icons_container fl">
  <div class="fl"><a href="javascript:void(0)">
    <img src="/static/image/index/diamond_icon.png" />积分181
      </a>
    </div>

      <div class="fr"><a href="javascript:void(0)">
    <img src="/static/image/index/fans_icon.png" />粉丝181
           </a>
    </div>


    </div>
    <div class="user_info_mark_icon_container fl">
    </div>
    <div  style="clear:both;"></div>

</div>




</script>


<style>





</style>


    <script>
 function focusTopic(topic_id){
    window.alert(topic_id);
    /*
    $.ajax({
        url : '/focusTopic',
        data : {
            topic_id : topic_id
        }
    });
*/



 }
 </script>