{% extends "base.html" %}

{% block css %}
<link href="/static/css/answer_detail.css" rel="stylesheet" />

{% endblock %}

 {% block banner %} 
 {% endblock %}
{% block focus_area  %}

<div id="question_detial_area" class="nav_container fl">
<div class="left_bar">
	<a href="#">
	<div class="common_icon" >
		<img src="/static/image/people_detail_pic_60_60.jpg" />
	</div>
	</a>
<div class="common_font align_center">{{ QUESTION.user.user_name }}</div>
</div>

	

<div class="top_level_container">
	<div class="answer_topic_container">
		<div class="answer_topic_image">
				{{ QUESTION.topic.topic_name }}
		</div>
	</div>
		<div class="answer_title_container answer_title havier_font">
{{ QUESTION.question_content }}
	</div>
	<div class="answer_content_containe dark_font">
        {{ QUESTION.question_detail }}
	</div>
<div class="icon_bar_container">
<div class="time_icon_container fl">
<img src="/static/image/index/time_icon.png" />{{ QUESTION.publish_time }}
</div>
<div class="comment_icon_container fl">
<img src="/static/image/index/view_icon.png" />{{ QUESTION.browse_num }}
</div>

<a href="#" class="fl">
	<div class="mark_container">
	</div>
</a>
<a href="#" class="fl button_margin">
	<div class="answer_invite_container">
	</div>
</a>
<a href="#" class="fl button_margin">
	<div class="want_to_share_container">
	</div>
</a>
<a href="#" class="fl button_margin">
	<div class="want_answer_container">
	{{ QUESTION.want_answer_num }}
	</div>
</a>


</div>

</div>

</div>
<div class="nav_container fl response_tab_container">
		<div class="commment_count_tab small_font fl">
			{{ QUESTION.answer_num }}个回复
		</div>

<a href="#" class="fl ">
<div class="common_selecter only_common_schooler_replay_selecter" id="only_common_schooler_replay_selecter">
<div class="fl">
	<img src="/static/image/index/radio_selected.png" />&nbsp;&nbsp;只看同院系校友回复
</div>
</div>
</a>
<div class="spiltter fl">|</div>

<div class="comparator_container fl">
<div class="common_font fl">排序：</div>
<a href="#" class="fl">
<div class="common_selecter">
	<img src="/static/image/index/radio_selected.png" />&nbsp;&nbsp;按点赞数量
</div>
</a>
<a href="#" class="fl common_selecter_margin">
<div class="common_selecter">
	<img src="/static/image/index/radio_unselect.png" />&nbsp;&nbsp;按校友积分
</div>
</a>

<a href="#" class="fl common_selecter_margin">
<div class="common_selecter">
	<img src="/static/image/index/radio_unselect.png" />&nbsp;&nbsp;按回复先后
</div>
</a>

</div>


</div>


<div id="question_response_area"  class="response_container fl">
<div class="left_bar">
	<a href="#"  data-am-popover="{content: '<input /><h1>aa</h1>', trigger: 'hover focus'}">
	<div class="common_icon" >
		<img src="/static/image/people_detail_pic_60_60.jpg" />
	</div>
	</a>
		<div class="agree_count_area">
				<img src="/static/image/index/agree_icon.png" />123
		

		</div>


	</div>

<div class="top_level_container">

<div class="answer_user_detail">
徐子豪●通信工程●2011级●本科
</div>
<div class="response_text_container dark_font">
1，最近生病,脑子不太清楚,今天一哥们问我一个问题,也没搞明白他在问什么,后来明白之后我还以为脑子烧坏了呢,记下问题所在,共分享这哥们看着夏神的博客写的,附上地址:http://blog.csdn.net/xiaanming/article/details/10766053,他想使用大神博客中说的ViewPageIndicator框架,但是大神继承的是FragmentActivity,这哥们的继承自Fragment,可能是不太明白,具体他的问题出现在哪里,我没有他的代码,我也不清楚
开始正题:<br/>
2，要想使用ViewPageIndicator框架,需要先从github上下载源码,源码地址:https://github.com/JakeWharton/Android-ViewPagerIndicator,把library引入项目中<br/>
3.由于这哥们需要的是继承fragment的,所以就按照他的需求写的demo<br/>
也就是说它本身就实现了点击功能,它不仅仅是实现滑动,其余的就跟实现自定义控件的内容有些相似了
4，我们使用的方法中还有setViewPager(viewPager)和setOnPageChangeListener()方法,就简单看一下这部分代码
void setViewPager(ViewPager view);和 void setOnPageChangeListener(ViewPager.<br/>
5，nPageChangeListener listener);是接口PageIndicator的方法,TabPageIndicator在自己的类里面实现了接口里面的方法
翠花不上菜,只上代码:<br/>
</div>
<div class="response_image_container">
	<img src="/static/image/banner_img.jpg" />
</div>

<div class="time_and_comment_container fl">
<div class="time_icon_container fl">
<img src="/static/image/index/time_icon.png" />2015-01-01 14:30
</div>
<div class="comment_icon_container fr">
<img src="/static/image/index/comment_icon.png" />123
</div>

</div>
    <!-- 未完成的头部小圆点 -->
     <!--
    <div class="comment_header_point fl"></div>
    -->
<div class="answer_comment_area fl">

    <div class="answer_comment">
	<div class="left_bar">
	<a href="#">
	<div class="common_icon" >
		<img src="/static/image/people_detail_pic_60_60.jpg" />
	</div>
	</a>
	</div>
	<div class="second_level_container">
	<div class="user_name_and_time_container">
        <div class="common_font fl comment_user_name_container"><a href="/people/123" value="123" class="comment_user_name_href">徐子豪</a></div>   <div class="time_icon_container fl comment_time_container">
<img src="/static/image/index/time_icon.png" />2015-01-01 14:30
</div>
        <div class="fr common_font comment_reply_container new_comment_reply_href"><a href="javascript:void(0)">回复</a></div>
    </div>
        <div class="comment_context_container fl dark_font">
            没有错我就是只有一行你来打我啊！！没有错我就是只有一行你来打我啊！！没有错我就是只有一行你来打我啊！！没有错我就是只有一行你来打我啊！！


        </div>


    </div>
    </div>


    <!-- 撑字数用的 -->
         <div class="answer_comment">
	<div class="left_bar">
	<a href="#">
	<div class="common_icon" >
		<img src="/static/image/people_detail_pic_60_60.jpg" />
	</div>
	</a>
	</div>
	<div class="second_level_container">
	<div class="user_name_and_time_container">
        <div class="common_font fl comment_user_name_container"><a href="/people/123" value="456" class="comment_user_name_href">杨钊</a></div>   <div class="time_icon_container fl comment_time_container">
<img src="/static/image/index/time_icon.png" />2015-01-01 14:30
</div>
        <div class="fr common_font comment_reply_container new_comment_reply_href"><a href="javascript:void(0)">回复</a></div>
    </div>
        <div class="comment_context_container fl dark_font">
            没有错我就是只有一行你来打我啊！！没有错我就是只有一行你来打我啊！！没有错我就是只有一行你来打我啊！！没有错我就是只有一行你来打我啊！！


        </div>


    </div>
    </div>
    <!-- 撑字数用的 -->

    </div>

</div>

<script type="text/javascript">
    $(function(){
               $(".answer_comment_area").on('click',".new_comment_reply_href",function() {
                   var top = $(this).parents('.answer_comment_area');
                   var lastChild = top.children(':last-child');
                   var href = $(this).parent().find('.comment_user_name_href');
                   var value = {data:{
                       user_id : '',
                       user_name : ''
                   }};
                   value.data.user_id = $(href).attr("value");;
                   value.data.user_name = $(href).text();
                     var html = template("new_comment_input", value);
                   if (!$(lastChild).hasClass("comment_reply_input_area")) {
                   $(this).parents('.answer_comment_area').append(html);
                     }
                   else {
                    $(lastChild).html(html);
                   }
               });
            }
    );

</script>

</div>


<div class="page_bar_area fl">
<div class="page_bar_container">
<ul class="page_bar" fl>
<li><a href="#"><div class=""><div class="pager_content fl">上一页</div><div class="pager_point fl pager_container_normal"></div></div></a></li>
<li><a href="#"><div class="pager_container"><div class="pager_content fl">1</div><div class="pager_point fl pager_container_normal"></div></div></a></li>
<li><a href="#"><div class="pager_container"><div class="pager_content fl">2</div><div class="pager_point fl pager_container_normal"></div></div></a></li>
<li><a href="#"><div class="pager_container"><div class="pager_content fl">3</div><div class="pager_point fl pager_container_normal"></div></div></a></li>
<li><a href="#"><div class="pager_container"><div class="pager_content fl">4</div><div class="pager_point fl pager_container_normal"></div></div></a></li>
<li><a href="#"><div class="pager_container"><div class="pager_content fl">...</div><div class="pager_point fl"></div></div></a></li>
<li><a href="#"><div class="pager_container"><div class="pager_content fl">5</div><div class="pager_point fl pager_container_normal"></div></div></a></li>
<li><a href="#"><div class=""><div class="pager_content fl">下一页</div><div class="pager_point fl pager_container_normal"></div></div></a></li>

</ul>
</div>
<div class="pager_bkg_container fl">
</div>
</div>
<div class="answer_area">
<div class="answer_content_input_area">
    <textarea></textarea>

</div>
<div class="answer_submit_area fl">
        <button class="am-btn am-btn-secondary fr">提交回答</button>
<div class="common_selecter comment_reply_sheld_name_selecter fr">
   <a href="#"> <img src="/static/image/index/radio_unselect.png" />
    匿名回复
   </a>
</div>
</div>

</div>



<script type="text/javascript">
$('.pager_container').on('mouseover',function(){
$(this).addClass('pager_container_active');
$(this).children('.pager_point').removeClass('pager_container_normal');
});
$('.pager_container').on('mouseout',function(){
$(this).removeClass('pager_container_active');
$(this).children('.pager_point').addClass('pager_container_normal');
});
$(document).ready(function(){
var bar_count = $('.page_bar li').length;
var width = bar_count * 70;
$('.page_bar').width(width);
});

</script>


{% endblock %}
{% block focus_people  %}

<div id="ad_area" class="ad_area">

没错我就是广告位
</div>


	
<div id="related_answer_tab" class="related_answer_tab">
</div>
<div id="related_answer_area">



<!-- 推荐问题开始  -->
<div class="related_simple_answer border_bottom_dark">
	<div class="answer_topic_name">
		<div class="answer_topic_image">
				职业规划
		</div>
	</div>
	<div class="answer_title havier_font">
大学里哪些事情是你万万没想到的的事情？
	</div>
<div>
<div class="view_comment_area">
<img src="/static/image/index/view_icon.png"  /><span class="view_count">123</span>
<img src="/static/image/index/comment_icon.png" /><span class="comment_count">123</span>
</div>

</div>
</div>

<!-- 推荐问题结束  -->

</div>


<script>


 </script>
 {% endblock %}