{% extends "base.html" %}

{% block css %}
<link href="/static/css/answer_detail.css" rel="stylesheet" />

{% endblock %}

 {% block banner %} 
 {% endblock %}
{% block focus_area  %}

问题页面左边
{% endblock %}
{% block focus_people  %}

<div id="ad_area" class="ad_area">

没错我就是广告位
</div>


	
<div id="related_answer_tab" class="related_answer_tab">
</div>
<div id="related_answer_area">



<!-- 推荐问题开始  -->
<div class="related_simple_answer border_bottom_dark">
	<div class="answer_topic_name">
		<div class="answer_topic_image">
				职业规划
		</div>
	</div>
	<div class="answer_title havier_font">
大学里哪些事情是你万万没想到的的事情？
	</div>
<div>
<div class="view_comment_area">
<img src="/static/image/index/view_icon.png"  /><span class="view_count">123</span>
<img src="/static/image/index/comment_icon.png" /><span class="comment_count">123</span>
</div>

</div>
</div>

<!-- 推荐问题结束  -->

</div>


<script>
$(document).ready(function(){

 </script>
 {% endblock %}