{% extends "base.html" %}

{% block css %}
<link href="/static/css/answer_detail.css" rel="stylesheet" />

{% endblock %}

 {% block banner %} 
 {% endblock %}
{% block focus_area  %}

<div id="question_detial_area" class="nav_container fl">
<div class="left_bar">
	<a href="#">
	<div class="common_icon" >
		<img src="/static/image/people_detail_pic_60_60.jpg" />
	</div>
	</a>
<div class="common_font align_center">徐子豪</div>
</div>

	

<div class="top_level_container">
	<div class="answer_topic_container">
		<div class="answer_topic_image">
				职业规划
		</div>
	</div>
		<div class="answer_title_container answer_title havier_font">
大学里哪些事情是你万万没想到的的事情？
	</div>
	<div class="answer_content_containe dark_font">
大学里哪些事情是你万万没想到的的事情？大学里哪些事情是你万万没想到的的事情？大学里哪些事情是你万万没想到的的事情？大学里哪些事情是你万万没想到的的事情？大学里哪些事情是你万万没想到的的事情？大学里哪些事情是你万万没想到的的事情？大学里哪些事情是你万万没想到的的事情？大学里哪些事情是你万万没想到的的事情？
	</div>
<div class="icon_bar_container">
<div class="time_icon_container fl">
<img src="/static/image/index/time_icon.png" />2015-01-01 10:11
</div>
<div class="comment_icon_container fl">
<img src="/static/image/index/view_icon.png" />123
</div>

<a href="#" class="fl">
	<div class="mark_container">
	</div>
</a>
<a href="#" class="fl button_margin">
	<div class="answer_invite_container">
	</div>
</a>
<a href="#" class="fl button_margin">
	<div class="want_to_share_container">
	</div>
</a>
<a href="#" class="fl button_margin">
	<div class="want_answer_container">
	123
	</div>
</a>


</div>

</div>

</div>
<div class="nav_container fl response_tab_container">
		<div class="commment_count_tab small_font fl">
			123个回复
		</div>

<a href="#" class="fl ">
<div class="common_selecter only_common_schooler_replay_selecter" id="only_common_schooler_replay_selecter">
<div class="fl">
	<img src="/static/image/index/radio_selected.png" />&nbsp;&nbsp;只看同院系校友回复
</div>
</div>
</a>
<div class="spiltter fl">|</div>

<div class="comparator_container fl">
<div class="common_font fl">排序：</div>
<a href="#" class="fl">
<div class="common_selecter">
	<img src="/static/image/index/radio_selected.png" />&nbsp;&nbsp;按点赞数量
</div>
</a>
<a href="#" class="fl common_selecter_margin">
<div class="common_selecter">
	<img src="/static/image/index/radio_unselect.png" />&nbsp;&nbsp;按校友积分
</div>
</a>

<a href="#" class="fl common_selecter_margin">
<div class="common_selecter">
	<img src="/static/image/index/radio_unselect.png" />&nbsp;&nbsp;按回复先后
</div>
</a>

</div>


</div>


<div id="question_response_area"  class="response_container fl">
<div class="left_bar">
	<a href="#">
	<div class="common_icon" >
		<img src="/static/image/people_detail_pic_60_60.jpg" />
	</div>
	</a>
		<div class="agree_count_area">
				<img src="/static/image/index/agree_icon.png" />1231
		

		</div>


	</div>

<div class="top_level_container">
	右边`
</div>

</div>


{% endblock %}
{% block focus_people  %}

<div id="ad_area" class="ad_area">

没错我就是广告位
</div>


	
<div id="related_answer_tab" class="related_answer_tab">
</div>
<div id="related_answer_area">



<!-- 推荐问题开始  -->
<div class="related_simple_answer border_bottom_dark">
	<div class="answer_topic_name">
		<div class="answer_topic_image">
				职业规划
		</div>
	</div>
	<div class="answer_title havier_font">
大学里哪些事情是你万万没想到的的事情？
	</div>
<div>
<div class="view_comment_area">
<img src="/static/image/index/view_icon.png"  /><span class="view_count">123</span>
<img src="/static/image/index/comment_icon.png" /><span class="comment_count">123</span>
</div>

</div>
</div>

<!-- 推荐问题结束  -->

</div>


<script>


 </script>
 {% endblock %}