{% extends "index.html" %}

 {% block content %}

<!-- container  -->

		<div id="banner">
			<div data-am-widget="slider" class="am-slider am-slider-default fl" data-am-slider='{&quot;animation&quot;:&quot;slide&quot;,&quot;slideshow&quot;:false}' id="banner_image">
				<ul class="am-slides">
					<li>
				<img src="/static/image/banner_img.jpg" />
				<div class="am-slider-desc">请叫我博丽灵梦</div>

					</li>
										<li>
				<img src="/static/image/banner_img.jpg" />
				<div class="am-slider-desc">请叫我博丽灵梦2</div>

					</li>
				</ul>
				
			</div>







			<div id="banner_content" class="fl">
			<div class="rec" ></div>
			<div class="rec baseMagTop"></div>
			<div class="rec baseMagTop"></div>
			</div>
		</div>
		<div id="focus_area">
		<div id="focus_answer" class="fl">
		<div id="focus_answer_tabs">

		<div id="my_interest_tab" class="fl common_tab">
		<a href="/static/tab.html">
		<div class="tab_image">
		</div>
		</a>
		</div>
		<div id="hot_answer_tab" class="fl common_tab tab_padding">
		<a href="/static/tab.html">
		<div class="tab_image">
		</div>
		</a>
		</div>
		</div>
		<div id="focus_answer_container">

		<!-- 感兴趣的话题 -->
	<div id="interest_topic" class="fl">
	<div id="interest_topic_icon" class="fl">
<div id="lighting_icon" class="common_icon"></div>
	</div>
	<div id="interest_topic_body" class="fl  border_bottom">
	<div id="interest_topic_body_header">
<span class="havier_font">你可能感兴趣的话题</span>&nbsp;&nbsp;<span class="common_font">查看全部>>></span>
	</div>
	<div id="interest_topic_body_lead_content">
		<span class="dark_font font_small">系统根据您定制的话题，推荐您关注以下话题</span>
	</div>
	<div id="interest_topic_body_topics">


	<!-- 左箭头 -->
	<div id="to_left_topic" class="fl">
<img src="/static/image/index/to_left.png" />
	</div>




	<div id="interest_topic_detail" class="fl">


<!-- 感兴趣话题真正内容 -->
		<div class="to_interest_topic fl">
			<div class="interest_topic_pic over_img_container">
				<a class="over_img" href="#">
				<img src="/static/image/index/topic_pic.png" />
				</a>
				<div class="over_img_description modal base_bg_color_85">
				哈哈哈
				</div>
			</div>
			<div class="ask_and_interest_div">
				<div class="interest_topic_icon fl">
					<img src="/static/image/index/interest_icon.png" />关注123
				</div>
				<div class="ask_topic_icon fr">
					<img src="/static/image/index/ask_icon.png" />提问123
				</div>
			</div>
			<div class="mark_icon_container">
			<a href="#" >
				<div class="mark_icon">
				</div>
			</a>
			</div>
		</div>



		














	</div>	
	<!-- 右箭头 -->
<div id="to_right_topic" class="fr">
<img src="/static/image/index/to_right.png" />
</div>

	</div>






	
		</div>
	</div>


<!--  关注的人   -->


	<div id="interest_people" class="fl">
	<div id="interest_people_icon" class="fl">
<div id="schooler_icon" class="common_icon"></div>
	</div>
	<div id="interest_people_body" class="fl  border_bottom">
	<div id="interest_people_body_header">
<span class="havier_font">你可能感兴趣的校友</span>&nbsp;&nbsp;<span class="common_font">查看全部>>></span>
	</div>
	<div id="interest_topic_body_lead_content">
		<span class="dark_font font_small">系统根据您定制的话题，推荐您关注以下校友</span>
	</div>
	<div id="interest_people_body_topics">


	<!-- 左箭头 -->
	<div id="to_left_people" class="fl">
<img src="/static/image/index/to_left.png" />
	</div>




	<div  class="fl interest_people_detail_div">
		<!-- 感兴趣的人的真正内容 -->
	<div class="to_interest_people fl">
		<div class="interest_people_detail_div">
			<div class="interest_people_pic_div fl">

			<div class="interest_people_pic">

				<img src="/static/image/people_detail_pic_75_75.jpg" />

			</div>
			<div class="interest_people_name">
			陈曼妮
		</div>
	</div>
		<div class="interest_people_detail fr">
<span class="common_font">擅长:</span><br/>
互联网运营商<br/>
研发<br/>
计算机科学技术<br/>


		</div>
	</div>



			<div class="mark_icon_container">
			<a href="#" >
				<div class="mark_icon">
				</div>
			</a>
			</div>


		</div>









	</div>	
	<!-- 右箭头 -->
<div id="to_right_people" class="fr">
<img src="/static/image/index/to_right.png" />
</div>

	</div>






	
		</div>
	</div>
<div id="all_answer_people_topic" class="fl">

<!-- 关注的人回答了问题开始 -->
<div class="people_answer">
<div class="people_answer_left_bar fl">
	<img src="/static/image/people_detail_pic_60_60.jpg" class="common_icon" />
</div>
<div class="people_answer_content fl">
<div class="people_answer_header border_bottom">
<div class="people_answer_header_people_name">
<span class="dark_font font_ya_hei">我关注的校友</span>
&nbsp;&nbsp;
<span class="font_ya_hei font_all_black">徐子豪</span>
&nbsp;&nbsp;

<span class="dark_font font_ya_hei">回答了</span><br />
</div>
<div class="people_answer_header_answer_name">
<span class="common_font font_ya_hei">大学里和毕业后有哪些是你万万没想到的</span>   
<div class="fr">
<img src="/static/image/index/view_icon.png"  /><span class="view_count">123</span>
<img src="/static/image/index/comment_icon.png" /><span class="comment_count">6</span>&nbsp;&nbsp;&nbsp;

</div>
</div>

</div>


<div class="people_answer_detail border_bottom_dark">
<div class="people_answer_detail_left_bar fl">
	<div class="people_answer_detail_pic_div">
<img src="/static/image/people_detail_pic_60_60.jpg" class="common_icon" />
</div>
<div class="people_answer_detail_agree_div">
<div class="people_answer_detail_agree_icon">

<img src="/static/image/index/agree_icon.png" /><span class="people_answer_detail_agree_count">6</span>
</div>
</div>
</div>
<div class="people_answer_detail_text fl">
<div class="people_answer_detail_text_context">
1、以为上大学很轻松，没想到，每天都累成狗，当然也有人混日子，混日子的很轻松。2、大学里那些被自己诟病没有用的课，结果就是这样子这样子这样
</div>
<br />
<div class="people_answer_detail_text_time">
<img src="/static/image/index/time_icon.png" />2015-01-02&nbsp;&nbsp;13:38
</div>
</div>
</div>
</div>
</div>
</div>
<!-- 关注的人回答了问题结束 -->



<!-- 提出了新的问题开始 -->



<div class="people_new_ask">
<div class="people_ask_left_bar fl">
	<img src="/static/image/people_detail_pic_60_60.jpg" class="common_icon" />
</div>
<div class="people_ask_content border_bottom fl">
<div class="people_ask_header">
<div class="people_ask_header_people_name">
<span class="dark_font font_ya_hei">我关注的校友</span>
&nbsp;&nbsp;
<span class="font_ya_hei font_all_black">徐子豪</span>
&nbsp;&nbsp;

<span class="dark_font font_ya_hei">提出了新的问题</span><br />
</div>
<div class="people_ask_header_answer_name">
<span class="common_font font_ya_hei">大学里和毕业后有哪些是你万万没想到的？</span>   
<div class="fr">
<img src="/static/image/index/view_icon.png"  /><span class="view_count">123</span>
<img src="/static/image/index/comment_icon.png" /><span class="comment_count">6</span>&nbsp;&nbsp;&nbsp;
</div>
</div>
</div>



<div class="people_ask_detail_text_time">
<img src="/static/image/index/time_icon.png" />2015-01-02&nbsp;&nbsp;13:38
</div>



</div>
</div>

<!-- 提出了新的问题结束 -->



<!-- 关注的话题开始 -->
<div class="topic_answer">
<div class="topic_answer_left_bar fl">
	<img src="/static/image/people_detail_pic_60_60.jpg" class="common_icon" />
</div>
<div class="topic_answer_content fl">
<div class="topic_answer_header border_bottom_dark">
<div class="topic_answer_header_people_name">
<span class="dark_font font_ya_hei">我关注的话题</span>
&nbsp;&nbsp;


<span class="font_ya_hei havier_font">原型设计</span><br />
</div>
<div class="people_answer_header_answer_name">
<span class="common_font font_ya_hei">大学里和毕业后有哪些是你万万没想到的</span>
<div class="fr">
<img src="/static/image/index/view_icon.png"  /><span class="view_count">123</span>
<img src="/static/image/index/comment_icon.png" /><span class="comment_count">6</span>&nbsp;&nbsp;&nbsp;

</div>
</div>
<div>

<span class="font_ya_hei dark_font font_small">徐子豪 ● 通信工程 ● 2011级 ● 本科</span> 

</div>

</div>


<div class="topic_answer_detail border_bottom_dark">
<div class="topic_answer_detail_left_bar fl">
	<div class="topic_answer_detail_pic_div">
<img src="/static/image/people_detail_pic_60_60.jpg" class="common_icon" />
</div>
<div class="topic_answer_detail_agree_div">
<div class="topic_answer_detail_agree_icon">

<img src="/static/image/index/agree_icon.png" /><span class="people_answer_detail_agree_count">6</span>
</div>
</div>
</div>
<div class="topic_answer_detail_text fl">
<div class="topic_answer_detail_text_context">
1、以为上大学很轻松，没想到，每天都累成狗，当然也有人混日子，混日子的很轻松。2、大学里那些被自己诟病没有用的课，结果就是这样子这样子这样以为上大学很轻松，没想到，每天都累成狗，当然也有人混日子，混日子的很轻松。2、大学里那些被自己诟病没有用的课，结果就是  <span class="common_font">点击展开>>></span>
</div>
<br />
<div class="topic_answer_detail_text_time ">
<span class="fl font_small">徐子豪 ● 通信工程 ● 2011级 ● 本科</span> 
<div class="fr">
<img src="/static/image/index/time_icon.png"  />2015-01-02&nbsp;&nbsp;13:38&nbsp;&nbsp;
</div>
</div>
</div>
</div>
</div>
</div>

<!-- 关注的话题结束 -->










<!-- <div class="people_ask">
<div class="people_ask_left_bar ">
	<img src="/static/image/people_detail_pic_60_60.jpg" class="common_icon" />
</div>



</div>


<div class="topic_answer">
<div class="topic_answer_left_bar ">
	<img src="/static/image/people_detail_pic_60_60.jpg" class="common_icon" />
</div> -->


</div>
<div id="hot_answer_container" class="fl">
<!-- 本校热门问答开始 -->
<div class="answer">
<div class="answer_left_bar fl">
	<img src="/static/image/people_detail_pic_60_60.jpg" class="common_icon" />
</div>
<div class="answer_content fl">
<div class="answer_header border_bottom_dark">
<div class="people_answer_header_answer_name">
<span class="common_font font_ya_hei">大学里和毕业后有哪些是你万万没想到的</span>
<div class="fr">
<img src="/static/image/index/view_icon.png"  /><span class="view_count">123</span>
<img src="/static/image/index/comment_icon.png" /><span class="comment_count">6</span>&nbsp;&nbsp;&nbsp;

</div>
</div>
<div>

<span class="font_ya_hei dark_font font_small">徐子豪 ● 通信工程 ● 2011级 ● 本科</span> 

</div>

</div>


<div class="answer_detail border_bottom_dark">
<div class="answer_detail_left_bar fl">
	<div class="answer_detail_pic_div">
<img src="/static/image/people_detail_pic_60_60.jpg" class="common_icon" />
</div>
<div class="answer_detail_agree_div">
<div class="answer_detail_agree_icon">

<img src="/static/image/index/agree_icon.png" /><span class="people_answer_detail_agree_count">6</span>
</div>
</div>
</div>
<div class="answer_detail_text fl">
<div class="answer_detail_text_context">
1、以为上大学很轻松，没想到，每天都累成狗，当然也有人混日子，混日子的很轻松。2、大学里那些被自己诟病没有用的课，结果就是这样子这样子这样以为上大学很轻松，没想到，每天都累成狗，当然也有人混日子，混日子的很轻松。2、大学里那些被自己诟病没有用的课，结果就是  <span class="common_font">点击展开>>></span>
</div>
<br />
<div class="answer_detail_text_time ">
<span class="fl font_small">徐子豪 ● 通信工程 ● 2011级 ● 本科</span> 
<div class="fr">
<img src="/static/image/index/time_icon.png"  />2015-01-02&nbsp;&nbsp;13:38&nbsp;&nbsp;
</div>
</div>
</div>
</div>
</div>
</div>

<!-- 本校热门问答结束 -->

<!-- 本校热门问答开始 -->
<div class="answer">
<div class="answer_left_bar fl">
	<img src="/static/image/people_detail_pic_60_60.jpg" class="common_icon" />
</div>
<div class="answer_content fl">
<div class="answer_header border_bottom_dark">
<div class="people_answer_header_answer_name">
<span class="common_font font_ya_hei">大学里和毕业后有哪些是你万万没想到的</span>
<div class="fr">
<img src="/static/image/index/view_icon.png"  /><span class="view_count">123</span>
<img src="/static/image/index/comment_icon.png" /><span class="comment_count">6</span>&nbsp;&nbsp;&nbsp;

</div>
</div>
<div>

<span class="font_ya_hei dark_font font_small">徐子豪 ● 通信工程 ● 2011级 ● 本科</span> 

</div>

</div>


<div class="answer_detail border_bottom_dark">
<div class="answer_detail_left_bar fl">
	<div class="answer_detail_pic_div">
<img src="/static/image/people_detail_pic_60_60.jpg" class="common_icon" />
</div>
<div class="answer_detail_agree_div">
<div class="answer_detail_agree_icon">

<img src="/static/image/index/agree_icon.png" /><span class="people_answer_detail_agree_count">6</span>
</div>
</div>
</div>
<div class="answer_detail_text fl">
<div class="answer_detail_text_context">
1、以为上大学很轻松，没想到，每天都累成狗，当然也有人混日子，混日子的很轻松。2、大学里那些被自己诟病没有用的课，结果就是这样子这样子这样以为上大学很轻松，没想到，每天都累成狗，当然也有人混日子，混日子的很轻松。2、大学里那些被自己诟病没有用的课，结果就是  <span class="common_font">点击展开>>></span>
</div>
<br />
<div class="answer_detail_text_time ">
<span class="fl font_small">徐子豪 ● 通信工程 ● 2011级 ● 本科</span> 
<div class="fr">
<img src="/static/image/index/time_icon.png"  />2015-01-02&nbsp;&nbsp;13:38&nbsp;&nbsp;
</div>
</div>
</div>
</div>
</div>
</div>

<!-- 本校热门问答结束 -->
</div>
</div>



{%for row in rows%}
<tr>
<td>{{row.questioner_id}}</td>
<!--    {%for r in row%}
     <td>{{r}}</td>
    {%endfor%}
</tr>-->
{%endfor%}

		<div id="focus_people" class="fr">
		<div id="focus_people_tab"></div>
		<div class="people_and_answer">
			<div class="people_and_answer_title">大学里和毕业后有哪些是你万万没想到的</div>
			<div class="people_and_answer_userinfo">
			<div class="fl" ><img src="/static/image/avatar-min-img.jpg" width="50" height="50" class="roundImg" /></div>
			<div class="fl people_and_answer_content"><span class="common_font">徐子豪</span><br/><span class="dark_font">通信工程</span><br/><span class="dark_font">2011级本科</span></div>
		</div>
		</div>
<!-- 撑人数用的 -->


<!-- 撑人数用的 -->
	</div>	




 <script>
$(document).ready(function(){
$('#home_nav').removeClass('home_nav_normal');
$('#home_nav').addClass('home_nav_active');
});

$('#hot_answer_container').hide();
$('#my_interest_tab').on('click',function(){
toggleTabs();
	return false;
});

$('#hot_answer_tab').on('click',function(){
toggleTabs();
	return false;
});

function toggleTabs(){
	$('#hot_answer_container').toggle();
	$('#focus_answer_container').toggle();

}

 </script>
 {% endblock %}

