
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>友答网</title>

<!-- amazeui import -->
<link rel="stylesheet" href="/static/css/amazeui.min.css" />
<link rel="stylesheet" href="/static/css/amaze.min.css" />

<link rel="canonical" href="http://www.uanswer.me" />
<script src="/static/js/jquery.min.js"></script>

<script src="/static/js/amazeui.min.js"></script>
<script type="text/javascript" src="/static/js/cropbox.js"></script>

<link href="/static/css/index.css" rel="stylesheet" />
    <link href="/static/css/system.css" rel="stylesheet" />
        <link href="/static/css/wigets.css" rel="stylesheet" />


</head>

<body   class="login_bkg">

<div class="opacity_bkg">

<div class="system_container">
<div class="system_logo fl">
    
</div>
        <div class="top_title fl register_title">
        <img src="/static/image/system/register_title.png" class="fr" />
        </div>
    <!-- 注册界面第一版 -->
<div class="main_area fl " id="register_area">
    <div class="image_area fl">
       <div class="image">
    <div class="imageBox">
    <div class="thumbBox"></div>
    <div class="spinner" style="display: none">Loading...</div>
  </div>
  <div class="action">
    <!-- <input type="file" id="file" style=" width: 200px">-->
    <div class="new-contentarea tc"> <a href="javascript:void(0)" class="upload-img primary_btn">
      <label for="upload-file">上传图像</label>
      </a>
      <input type="file" class="primary_btn" name="upload-file" id="upload-file" />
    </div>
    <input type="button" id="btnCrop"  class="Btnsty_peyton primary_btn" value="裁切">
    <input type="button" id="btnZoomIn" class="Btnsty_peyton primary_btn" value="+"  >
    <input type="button" id="btnZoomOut" class="Btnsty_peyton primary_btn" value="-" >
  </div>
  <div class="cropped"></div>

           </div>
    </div>
    <div class="register_area fl" >


        <div class="mail_form dark_font">
        <span>注册邮箱</span>

            <div  class="fr am-input-group common_login_field">
      <span class="am-input-group-btn">
        <button class="am-btn am-btn-link" type="button">
        	<span class="am-icon-mobile-phone"></span>
        </button>
      </span>
		<input type="text" class="am-form-field " placeholder="请输入邮箱或者手机号码" id="account">

		</div>
        </div>



        <div class="user_name_form dark_font">
        <span>真实姓名</span>

            <div  class="fr am-input-group common_login_field">
      <span class="am-input-group-btn">
        <button class="am-btn am-btn-link" type="button">
        	<span class="am-icon-user"></span>
        </button>
      </span>
		<input type="text" class="am-form-field " placeholder="请输入真实姓名" id="real_name">

		</div>
        </div>




        <div class="current_stage_form" id="current_stage_form"  value='in_school'>
            <span class="fl">目前状态</span>

<div class="fl common_selecter" id="in_school_selecter" value='in_school'>
	<img src="/static/image/index/radio_selected.png" />&nbsp;&nbsp;我在上学
</div>

<div class="common_selecter fr" id="not_in_school_selecter" value='not_in_school'>
	<img src="/static/image/index/radio_unselect.png" />&nbsp;&nbsp;我已毕业
</div>




        </div>

        <div class="sex_form" id="sex_form" value='man'>
            <span class="fl">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</span>
<div class="common_selecter fl" id="" value='man'>
	<img src="/static/image/index/radio_selected.png" />&nbsp;&nbsp;男
</div>

<div class="common_selecter fr" id="" value='female'>
	<img src="/static/image/index/radio_unselect.png" />&nbsp;&nbsp;女
</div>

        </div>



        <div class="submit_form">

            <div class="vistor_href_container fl"><a href="#">游客通道→</a></div>
             <div class="goto_register_container fl"><a href="#">直接登录</a></div>
            <button class="am-btn primary_btn fr" id="register_first_next_step">下一步</button>
        </div>


    </div>
    </div>
    <!-- 注册界面第一版 -->




<!-- 注册界面第二版(在校模块) -->
    <div class="main_area fl second_part hidden" id="in_school_area">
        <div id="in_school_educate_container">
<div class="common_register_container">
     <div class="am-dropdown" data-am-dropdown>
  <button class="am-dropdown-toggle common_select" data-am-dropdown-toggle>学校 <span class="cornor fr">∨</span></button>
  <ul class="am-dropdown-content">

    <li value="1"><a href="#">南京邮电大学</a></li>
       <li value="2"><a href="#">华中科技大学</a></li>
       <li value="3"><a href="#">华南农业大学</a></li>

  </ul>
</div>

         <div class="am-dropdown common_margin_select" data-am-dropdown>
  <button class="am-dropdown-toggle common_select " data-am-dropdown-toggle>院系 <span class="cornor fr">∨</span></button>
  <ul class="am-dropdown-content">

    <li value="1"><a href="#">工学院</a></li>
       <li value="2"><a href="#">林学院</a></li>
       <li value="3"><a href="#">数学与信息学院</a></li>

  </ul>
</div>


             <div class="am-dropdown common_margin_select" data-am-dropdown>
  <button class="am-dropdown-toggle common_select " data-am-dropdown-toggle>入学年份<span class="cornor fr">∨</span></button>
  <ul class="am-dropdown-content">

    <li value="2015"><a>2015</a></li>
       <li value="2014"><a>2014</a></li>
       <li value="2013"><a>2013</a></li>
      <li value="2012"><a>2012</a></li>
      <li value="2011"><a>2011</a></li>
      <li value="2011"><a>2010</a></li>
  </ul>
</div>


                 <div class="am-dropdown common_margin_select" data-am-dropdown>
  <button class=" am-dropdown-toggle common_select " data-am-dropdown-toggle>学历<span class="cornor fr">∨</span></button>
  <ul class="am-dropdown-content">
     <li value="1"><a href="#">高中</a></li>
    <li value="2"><a href="#">本科</a></li>
       <li value="3"><a href="#">硕士</a></li>
       <li value="4"><a href="#">博士</a></li>
       <li value="5"><a href="#">博士后</a></li>
  </ul>
</div>
    
    
    <a href="#" class="common_margin_select"><img src="/static/image/system/add.png"></a>




</div>

        <div class="common_register_container">
     <div class="am-dropdown" data-am-dropdown>
  <button class="am-dropdown-toggle common_select" data-am-dropdown-toggle>学校 <span class="cornor fr">∨</span></button>
  <ul class="am-dropdown-content">

    <li value="1"><a href="#">南京邮电大学</a></li>
       <li value="2"><a href="#">华中科技大学</a></li>
       <li value="3"><a href="#">华南农业大学</a></li>

  </ul>
</div>

         <div class="am-dropdown common_margin_select" data-am-dropdown>
  <button class="am-dropdown-toggle common_select " data-am-dropdown-toggle>院系 <span class="cornor fr">∨</span></button>
  <ul class="am-dropdown-content">

    <li value="1"><a href="#">工学院</a></li>
       <li value="2"><a href="#">林学院</a></li>
       <li value="3"><a href="#">数学与信息学院</a></li>

  </ul>
</div>


             <div class="am-dropdown common_margin_select" data-am-dropdown>
  <button class="am-dropdown-toggle common_select " data-am-dropdown-toggle>入学年份<span class="cornor fr">∨</span></button>
  <ul class="am-dropdown-content">

    <li value="2015"><a>2015</a></li>
       <li value="2014"><a>2014</a></li>
       <li value="2013"><a>2013</a></li>
      <li value="2012"><a>2012</a></li>
      <li value="2011"><a>2011</a></li>
      <li value="2011"><a>2010</a></li>
  </ul>
</div>


                 <div class="am-dropdown common_margin_select" data-am-dropdown>
  <button class=" am-dropdown-toggle common_select " data-am-dropdown-toggle>学历<span class="cornor fr">∨</span></button>
  <ul class="am-dropdown-content">
     <li value="1"><a href="#">高中</a></li>
    <li value="2"><a href="#">本科</a></li>
       <li value="3"><a href="#">硕士</a></li>
       <li value="4"><a href="#">博士</a></li>
       <li value="5"><a href="#">博士后</a></li>
  </ul>
</div>


    <a href="#" class="common_margin_select"><img src="/static/image/system/add.png"></a>




</div>
</div>



 <div class="common_register_container"><input class="common_blank_border self_intro_form" id="in_school_self_intro_form" /></div>

 <div class="common_register_container">


     <a href="#" class="fl">游客通道→</a>
        <button class="am-btn base_color_btn fr register_submit" id="register_submit">提交申请</button>
     <button class="am-btn primary_btn fr uppper_step" id="in_school_upper_step_btn">上一步</button>
 </div>

    </div>




    <!-- 注册界面第二版(在校模块) -->


    <!-- 注册界面第三版(工作模块)-->
    <div class="main_area fl second_part hidden" id="not_in_school_area">
<div id="not_in_school_educate_container">
<div class="common_register_container">
     <div class="am-dropdown" data-am-dropdown>
  <button class="am-dropdown-toggle common_select" data-am-dropdown-toggle>学校 <span class="cornor fr">∨</span></button>
  <ul class="am-dropdown-content">

    <li value="1"><a href="#">南京邮电大学</a></li>
       <li value="2"><a href="#">华中科技大学</a></li>
       <li value="3"><a href="#">华南农业大学</a></li>

  </ul>
</div>

         <div class="am-dropdown common_margin_select" data-am-dropdown>
  <button class="am-dropdown-toggle common_select " data-am-dropdown-toggle>院系 <span class="cornor fr">∨</span></button>
  <ul class="am-dropdown-content">

    <li value="1"><a href="#">工学院</a></li>
       <li value="2"><a href="#">林学院</a></li>
       <li value="3"><a href="#">数学与信息学院</a></li>

  </ul>
</div>


             <div class="am-dropdown common_margin_select" data-am-dropdown>
  <button class="am-dropdown-toggle common_select " data-am-dropdown-toggle>入学年份<span class="cornor fr">∨</span></button>
  <ul class="am-dropdown-content">

    <li value="2015"><a>2015</a></li>
       <li value="2014"><a>2014</a></li>
       <li value="2013"><a>2013</a></li>
      <li value="2012"><a>2012</a></li>
      <li value="2011"><a>2011</a></li>
      <li value="2011"><a>2010</a></li>
  </ul>
</div>


                 <div class="am-dropdown common_margin_select" data-am-dropdown>
  <button class=" am-dropdown-toggle common_select " data-am-dropdown-toggle>学历<span class="cornor fr">∨</span></button>
  <ul class="am-dropdown-content">
     <li value="1"><a href="#">高中</a></li>
    <li value="2"><a href="#">本科</a></li>
       <li value="3"><a href="#">硕士</a></li>
       <li value="4"><a href="#">博士</a></li>
       <li value="5"><a href="#">博士后</a></li>
  </ul>
</div>


    <a href="#" class="common_margin_select"><img src="/static/image/system/add.png"></a>




</div>

        <div class="common_register_container">
     <div class="am-dropdown" data-am-dropdown>
  <button class="am-dropdown-toggle common_select" data-am-dropdown-toggle>学校 <span class="cornor fr">∨</span></button>
  <ul class="am-dropdown-content">

    <li value="1"><a href="#">南京邮电大学</a></li>
       <li value="2"><a href="#">华中科技大学</a></li>
       <li value="3"><a href="#">华南农业大学</a></li>

  </ul>
</div>

         <div class="am-dropdown common_margin_select" data-am-dropdown>
  <button class="am-dropdown-toggle common_select " data-am-dropdown-toggle>院系 <span class="cornor fr">∨</span></button>
  <ul class="am-dropdown-content">

    <li value="1"><a href="#">工学院</a></li>
       <li value="2"><a href="#">林学院</a></li>
       <li value="3"><a href="#">数学与信息学院</a></li>

  </ul>
</div>


             <div class="am-dropdown common_margin_select" data-am-dropdown>
  <button class="am-dropdown-toggle common_select " data-am-dropdown-toggle>入学年份<span class="cornor fr">∨</span></button>
  <ul class="am-dropdown-content">

    <li value="2015"><a>2015</a></li>
       <li value="2014"><a>2014</a></li>
       <li value="2013"><a>2013</a></li>
      <li value="2012"><a>2012</a></li>
      <li value="2011"><a>2011</a></li>
      <li value="2011"><a>2010</a></li>
  </ul>
</div>


                 <div class="am-dropdown common_margin_select" data-am-dropdown>
  <button class=" am-dropdown-toggle common_select " data-am-dropdown-toggle>学历<span class="cornor fr">∨</span></button>
  <ul class="am-dropdown-content">
     <li value="1"><a href="#">高中</a></li>
    <li value="2"><a href="#">本科</a></li>
       <li value="3"><a href="#">硕士</a></li>
       <li value="4"><a href="#">博士</a></li>
       <li value="5"><a href="#">博士后</a></li>
  </ul>
</div>


    <a href="#" class="common_margin_select"><img src="/static/image/system/add.png"></a>




</div>
</div>

        <!-- 工作 -->
        <div id="not_in_school_work_container">
         <div class="common_register_container">
     <div class="am-dropdown" data-am-dropdown>
  <button class="am-dropdown-toggle common_select" data-am-dropdown-toggle>工作单位<span class="cornor fr">∨</span></button>
  <ul class="am-dropdown-content">

    <li value="1"><a href="#">腾讯</a></li>
       <li value="2"><a href="#">阿里巴巴</a></li>
       <li value="3"><a href="#">百度</a></li>

  </ul>
</div>

         <div class="am-dropdown common_margin_select" data-am-dropdown>
  <button class="am-dropdown-toggle common_select " data-am-dropdown-toggle>职位<span class="cornor fr">∨</span></button>
  <ul class="am-dropdown-content">

    <li value="1"><a href="#">产品经U理</a></li>
       <li value="2"><a href="#">JAVA开发工程师</a></li>
       <li value="3"><a href="#">UI设计师</a></li>

  </ul>
</div>


             <div class="am-dropdown common_margin_select" data-am-dropdown>
  <button class="am-dropdown-toggle common_select " data-am-dropdown-toggle>入职年月<span class="cornor fr">∨</span></button>
  <ul class="am-dropdown-content">

    <li value="2015"><a href="#">2015</a></li>
       <li value="2014"><a href="#">2014</a></li>
       <li value="2013"><a href="#">2013</a></li>

  </ul>
</div>


               <div class="am-dropdown common_margin_select" data-am-dropdown>
  <button class="am-dropdown-toggle common_select " data-am-dropdown-toggle>离职年月<span class="cornor fr">∨</span></button>
  <ul class="am-dropdown-content">

    <li value="2015"><a href="#">2015</a></li>
       <li value="2014"><a href="#">2014</a></li>
       <li value="2013"><a href="#">2013</a></li>
  </ul>
</div>

    <a href="#" class="common_margin_select"><img src="/static/image/system/delete.png"></a>

</div>

        <!--工作 -->
</div>



 <div class="common_register_container"><input class="common_blank_border self_intro_form" id="not_in_school_self_intro_form" /></div>

 <div class="common_register_container">


     <a href="#" class="fl">游客通道→</a>
        <button class="am-btn base_color_btn fr register_submit">提交申请</button>
     <button class="am-btn primary_btn fr uppper_step" id="not_in_school_upper_step_btn">上一步</button>
 </div>

    </div>
    <!-- 注册界面第三版(工作模块) -->


    <script>





        $(function(){

        bindRadioClick();



            var in_school_area = $('#in_school_area');
            var not_in_school_area = $('#not_in_school_area');
            var next_step_btn = $('#register_first_next_step');
            var register_area = $('#register_area');
            next_step_btn.on('click',function(){
             var stage = getRadioValue('current_stage_form');
                 register_area.hide();
                if(stage == 'in_school'){
                    in_school_area.fadeIn();
                }
                else{
                    not_in_school_area.fadeIn();
                }

            });

            var in_school_upper_step_btn = $('#in_school_upper_step_btn');

in_school_upper_step_btn.on('click',function(){
    in_school_area.hide();
    register_area.fadeIn();
});

            var not_in_school_upper_step_btn = $('#not_in_school_upper_step_btn');
not_in_school_upper_step_btn.on('click',function(){
    not_in_school_area.hide();
    register_area.fadeIn();
});


            $('.register_submit').on('click',function(){
				$.post("/register/",getFormData(),function(data){
				 if(data.status==-1)
                        alert("ERROR");
                    else
                        window.location.href="/home/";   
				});
             });
        });
//获取所有表单数据
        function getFormData(){
             var stage = getRadioValue('current_stage_form');
            var data = {};
            data.img = img;
            data.account = $('#account').val();
            data.real_name = $('#real_name').val();
            data.stage = stage;
            data.sex = getRadioValue('sex_form');
            var educate = '';
            var work = '';

            if(stage == 'in_school'){
                var in_school_educate_container_form = $('#in_school_educate_container').children();
                 var temp_select_array = [];
                in_school_educate_container_form.each(function(index,form){
                    var selecters = $(form).children('.am-dropdown');
                    $(selecters).each(function(index,select){
                        temp_select_array.push($(select).attr('value'));
                    });
                   temp_select_array.push('#');
                });
                educate = temp_select_array.join(' ');        
                data.short_intro = $('#in_school_self_intro_form').val();;

            }
            else{
                 var not_in_school_educate_container_form = $('#not_in_school_educate_container').children();
                    var temp_select_array = [];
                  not_in_school_educate_container_form.each(function(index,form){
                    var selecters = $(form).children('.am-dropdown');
                    $(selecters).each(function(index,select){
                        temp_select_array.push($(select).attr('value'));
                    });
                   temp_select_array.push('#');
                });
                educate = temp_select_array.join(' ');

                var not_school_work_container_form = $('#not_in_school_work_container').children();
                 var temp_work_select_array = [];
                not_school_work_container_form.each(function(index,form){
                    var selecters = $(form).children('.am-dropdown');
                    selecters.each(function(index,select){
                       temp_work_select_array.push($(select).attr('value'));
                    });
                 temp_work_select_array.push('#');
                });


                work  = temp_work_select_array.join(' ');
                data.short_intro = $('#not_in_school_self_intro_form').val();;
            }


        data.educate = educate;
            data.work = work;
            
            return data;

        }


    </script>
</div>
</div>
</body>
          <script src="/static/js/wieget.js"></script>
<script>
    var img = '';
    $(function(){
        bindDropDown();
        	var options =
	{
		thumbBox: '.thumbBox',
		spinner: '.spinner',
		imgSrc: 'images/avatar.png'
	}
	var cropper = $('.imageBox').cropbox(options);
	$('#upload-file').on('change', function(){
		var reader = new FileReader();
		reader.onload = function(e) {
			options.imgSrc = e.target.result;
			cropper = $('.imageBox').cropbox(options);
		}
		reader.readAsDataURL(this.files[0]);
		this.files = [];
	})
	$('#btnCrop').on('click', function(){
		img = cropper.getDataURL();
		$('.cropped').html('');
		$('.cropped').append('<img src="'+img+'" align="absmiddle" style="width:50px;margin-top:4px;border-radius:50px;box-shadow:0px 0px 12px #7E7E7E;" ><p>50px*50px</p>');
		$('.cropped').append('<img src="'+img+'" align="absmiddle" style="width:60px;margin-top:4px;border-radius:60px;box-shadow:0px 0px 12px #7E7E7E;"><p>60px*60px</p>');
		$('.cropped').append('<img src="'+img+'" align="absmiddle" style="width:70px;margin-top:4px;border-radius:70px;box-shadow:0px 0px 12px #7E7E7E;"><p>70px*70px</p>');
	})
	$('#btnZoomIn').on('click', function(){
		cropper.zoomIn();
	})
	$('#btnZoomOut').on('click', function(){
		cropper.zoomOut();
	})
    });






</script>



<style>
    @charset "utf-8";
.image {
	width: 300px;
	position: relative;
	font-family: 微软雅黑;
	font-size: 12px;
}
.image p {
	line-height: 12px;
	line-height: 0px;
	height: 0px;
	margin: 10px;
	color: #bbb
}
.action {
	width: 300px;
	height: 30px;
	margin: 10px 0;
}
.cropped {
	position: absolute;
	right: -30px;
	top: 0;
	width: 120px;
	border: 1px #ddd solid;
	height: 300px;
	padding: 4px;
	box-shadow: 0px 0px 12px #ddd;
	text-align: center;
}
.imageBox {
	position: relative;
	height: 300px;
	width: 300px;
	border: 1px solid #aaa;
	background: #fff;
	overflow: hidden;
	background-repeat: no-repeat;
	cursor: move;
	box-shadow: 4px 4px 12px #B0B0B0;
}
.imageBox .thumbBox {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 200px;
	margin-top: -100px;
	margin-left: -100px;
	box-sizing: border-box;
	border: 1px solid rgb(102, 102, 102);
	box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
	background: none repeat scroll 0% 0% transparent;
}
.imageBox .spinner {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	line-height: 400px;
	background: rgba(0,0,0,0.7);
}
.Btnsty_peyton{ float: right;
   width: 55px;
  display: inline-block;
  margin-bottom: 15px;
  height: 40px;
  line-height: 40px;
  margin:0px 2px;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
    font-weight: normal;
  box-shadow: 0px 0px 5px #B0B0B0;
  border: 0px #fff solid;}
/*选择文件上传*/
.new-contentarea {
	width: 100px;
    height: 40px;
	overflow:hidden;
	margin: 0 auto;
	position:relative;float:left;
}
.new-contentarea label {
	width: 100px;
	height: 40px;
	display:block;
    font-size: 11pt;
    font-weight:normal;
}
.new-contentarea label:hover{
    cursor: pointer;
}
.new-contentarea input[type=file] {
    position: absolute;
    left: -3000px;
    top:-3000px;
	opacity:0;
	filter:alpha(opacity=0);
}
.upload-img{
	width:100px;
	display: inline-block;
	margin-bottom: 10px;
	height:40px;
	line-height: 40px;
	border-radius: 3px;
	text-decoration:none;
	cursor:pointer;
	border: 0px #fff solid;
	box-shadow: 0px 0px 5px #B0B0B0;
}
.upload-img:hover{
	cursor: pointer;
}

.tc{text-align:center;}


</style>
</html>
