
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>友答网</title>

<!-- amazeui import -->
<link rel="stylesheet" href="/static/css/amazeui.min.css" />
<link rel="stylesheet" href="/static/css/amaze.min.css" />

<link rel="canonical" href="http://www.uanswer.me" />
<script src="/static/js/jquery.min.js"></script>

<script src="/static/js/amazeui.min.js"></script>
<script src="/static/js/template-native.js"></script>

<link href="/static/css/index.css" rel="stylesheet" />
    <link href="/static/css/system.css" rel="stylesheet" />
</head>
<body   class="login_bkg">

<div class="opacity_bkg">

<div class="system_container">
<div class="system_logo fl">
    
</div>
        <div class="top_title fl register_title">
        <img src="/static/image/system/register_title.png" class="fr" />
        </div>
<div class="main_area fl">
    <div class="image_area fl">
       <div class="image">
           </div>
    </div>
    <div class="register_area fl">


        <div class="mail_form dark_font">
        <span>注册邮箱</span>

            <div  class="fr am-input-group common_login_field">
      <span class="am-input-group-btn">
        <button class="am-btn am-btn-link" type="button">
        	<span class="am-icon-envelope"></span>
        </button>
      </span>
		<input type="text" class="am-form-field " placeholder="请输入常用邮箱">

		</div>
        </div>



        <div class="user_name_form dark_font">
        <span>真实姓名</span>

            <div  class="fr am-input-group common_login_field">
      <span class="am-input-group-btn">
        <button class="am-btn am-btn-link" type="button">
        	<span class="am-icon-user"></span>
        </button>
      </span>
		<input type="text" class="am-form-field " placeholder="请输入真实姓名">

		</div>
        </div>




        <div class="current_stage_form">
            <span class="fl">目前状态</span>
            <a href="#" class="fl ">
<div class="common_selecter" id="">
<div class="fl">
	<img src="/static/image/index/radio_selected.png" />&nbsp;&nbsp;我在上学
</div>
</div>
</a>

                       <a href="#" class="fr ">
<div class="common_selecter" id="">
<div class="fl">
	<img src="/static/image/index/radio_unselect.png" />&nbsp;&nbsp;我已毕业
</div>
</div>
</a>

        </div>

        <div class="sex_form">
            <span class="fl">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</span>
            <a href="#" class="fl ">
<div class="common_selecter" id="">
<div class="fl">
	<img src="/static/image/index/radio_selected.png" />&nbsp;&nbsp;男
</div>
</div>
</a>

                       <a href="#" class="fr ">
<div class="common_selecter" id="">
<div class="fl">
	<img src="/static/image/index/radio_unselect.png" />&nbsp;&nbsp;女
</div>
</div>
</a>

        </div>



        <div class="submit_form">

            <div class="vistor_href_container fl"><a href="#">游客通道→</a></div>
             <div class="goto_register_container fl"><a href="#">直接登录</a></div>
            <button class="am-btn primary_btn fr">下一步</button>
        </div>


    </div>
    </div>







    <div class="main_area fl hidden">
哈哈哈啊我就是第二版你来打我吖

    </div>
</div>
</div>
</body>
</html>
