{% extends "base.html" %}
{% block css %}
<link href="/static/css/schooler.css" rel="stylesheet" />

{% endblock %}

{% block focus_area  %}

<div id="focus_answer" class="fl">
		<div id="focus_answer_tabs">
		<div id="my_interest_schooler_tab" class="fl common_tab my_interest_schooler_tab my_interest_schooler_tab_active">
		<a href="javascript:void(0)">
		<div class="tab_image">
		</div>
		</a>
		</div>
		<div id="hot_schooler_tab" class="hot_schooler_tab fl common_tab tab_padding">
		<a href="javascript:void(0)">
		<div class="tab_image">
		</div>
		</a>
		</div>
		</div>
   <div id="my_interest_schooler_container">
关注校友
    </div>
<div id="hot_schooler_container">

推荐的校友

</div>

</div>



{% endblock %}
{% block focus_people  %}

<img src="/static/image/index/recommand_schooler_tab.png" />

    <div class="recommand_schooler">
    我是人物资料


    </div>

<style>


.recommand_schooler{
    width:200px;
    height:120px;
    background-color: #003399;

}




.hot_schooler_tab{
    background-image: url("/static/image/index/hot_schooler_tab.png");
    background-repeat: no-repeat;
    height: 45px;
    width: 200px
}
.hot_schooler_tab:hover,.hot_schooler_tab_active{
    background-image: url("/static/image/index/hot_schooler_tab_active.png");
     cursor: pointer;
}
.my_interest_schooler_tab{
        background-image: url("/static/image/index/my_interest_schooler_tab.png");
    background-repeat: no-repeat;
    height: 45px;
    width: 200px
}
.my_interest_schooler_tab:hover , .my_interest_schooler_tab_active{
    cursor: pointer;
      background-image: url("/static/image/index/my_interest_schooler_tab_active.png");
}
.focus_schooler_tab{
        background-image: url("/static/image/index/recommand_schooler_tab.png");
        background-repeat: no-repeat;
}

#hot_schooler_container{
    display: none;
}
</style>




<script>
$(document).ready(function(){
	$('#schooler_nav').removeClass('schooler_nav_normal');
    $('#schooler_nav').addClass('schooler_nav_active');


    //init the state of tab


    $('#my_interest_schooler_tab').on('click',function(){
        $('#my_interest_schooler_container').show();
         $('#hot_schooler_container').hide();
    });
    $('#hot_schooler_tab').on('click',function(){
     $('#my_interest_schooler_container').hide();
         $('#hot_schooler_container').show();
    });


});

function load_interest_schooler_list(){

}

 </script>
 {% endblock %}