{% extends "base.html" %}

{% block css %}
<link href="/static/css/topic.css" rel="stylesheet" />

{% endblock %}




{% block focus_area  %}




		<div id="focus_answer" class="fl">
		<div id="focus_answer_tabs">

		<div id="my_interest_topic_tab" class="fl common_tab my_interest_topic_tab">
		<a href="/static/tab.html">
		<div class="tab_image">
		</div>
		</a>
		</div>
		<div id="hot_topic_tab" class="hot_topic_tab fl common_tab tab_padding">
		<a href="/static/tab.html">
		<div class="tab_image">
		</div>
		</a>
		</div>
		</div>
		<div id="focus_topic_container">

		<!-- 我关注的话题开始 -->






		<!-- 我关注的话题结束 -->
		</div>
		<div id="hot_topic_container" class="fl">
	<div class="recommend_hot_topic_icons"></div>

</div>
</div>
{% endblock %}
{% block focus_people  %}

<div id="topic_recommend_tab" class="topic_recommend_tab">
</div>
<div id="topic_recommend"></div>

<script>



function toggleTabs(){
$('#my_interest_topic_tab').toggleClass('my_interest_topic_tab_active');
$('#hot_topic_tab').toggleClass('hot_topic_tab_active');
$('#hot_topic_container').toggle();
$('#focus_topic_container').toggle();
}


$(document).ready(function(){
	$('#topic_nav').removeClass('topic_nav_normal');
$('#topic_nav').addClass('topic_nav_active');
$('#my_interest_topic_tab').addClass('my_interest_topic_tab_active');
$('#hot_topic_container').hide();
loadMyInterestTopicList('focus_topic_container','/getFocusTopic');

$('#my_interest_topic_tab').attr('active','true');
$('#hot_topic_tab').attr('active','false');

$('#my_interest_topic_tab').on('click',function(){

if($('#my_interest_topic_tab').attr('active') == 'false'){

$('#my_interest_topic_tab').attr('active','true');
	$('#hot_topic_tab').attr('active','false');
	toggleTabs();
    loadMyInterestTopicList('focus_topic_container','/getFocusTopic');
}
	return false;
});

$('#hot_topic_tab').on('click',function(){
	if($('#hot_topic_tab').attr('active') == 'false'){

	$('#my_interest_topic_tab').attr('active','false');
	$('#hot_topic_tab').attr('active','true');
	toggleTabs();
        loadSchoolHotTopic();
}
return false;

});

var recommend_interest_topic_data = {
	recommendList : [{
		imageUrl : '/static/image/index/topic_pic.png',
		description:'请叫我博丽灵梦1',
		focusCount : '112',
		askCount : '111'
	},
	{
		imageUrl : '/static/image/index/topic_pic.png',
		description:'请叫我博丽灵梦2',
		focusCount : '112',
		askCount : '111'
	},
	{
		imageUrl : '/static/image/index/topic_pic.png',
		description:'请叫我博丽灵梦3',
		focusCount : '112',
		askCount : '131'
	}]
};

var recommend_interest_topic_html = template('recommend_interest_topic',recommend_interest_topic_data);
$('#topic_recommend').append(recommend_interest_topic_html);


});

function loadMyInterestTopicList(container_id,url){
   		$.ajax({
		    url: url,
		    dataType: "json",
		    data: {"user_id": "1", "page": "1" },
		    type: 'get', //this is the default though, you don't actually need to always mention it
		    success: function(result) {
            	  var topic_list_html = template('focus_topic_list',result.data);
                var realData = result.data.data;
                var currentIndex = 0;
                 $('#'+container_id).append(topic_list_html);
                for(var i =0;i<realData.length;i++){
                    var topic_id = realData[i].topic_id;
                    $.ajax({
                        url : '/getTopicQuestion',
                        data: {"topic_id":topic_id ,
                               "page": "1" },
                         type: 'get',
                        success: function(result_question) {
                        var html = template('topic_new_questiuon_list',result_question.data);
                            $('#topic_'+realData[currentIndex].topic_id).append(html);
                            currentIndex++;
		                  },
		                 failure: function(data) {

		                  }
                    });
                }
		    },
		    failure: function(data) {
		        alert('Got an error dude');
		    }
		});
}

function loadSchoolHotTopic(){
    $.ajax({
        url : '/getSchoolTopic',
        dataType: "json",
		    data: {"user_id": "1", "page": "2" },
		    type: 'get', //this is the default though, you don't actually need to always mention it
		    success: function(result) {
            	var data = result.data;
                var html = template('hot_school_topic_list',data);
                $('#recommend_hot_topic_icons').append(html);
		    },
		    failure: function(data) {
		        alert('Got an error dude');
		    }

    });
    loadMyInterestTopicList('hot_topic_container','/getSchoolTopic');
}
 </script>
 {% endblock %}