$contentWidth : 1140px;
$nav_with:880px;
$base_color:#17A9B8;
$base_havier_color:#328CBE;
$dark_color:#666666;
$active_color:#008899;
$font_ya_hei:"Microsoft Yahei";

html, body{ margin:0; height:100%; }
a {
	outline : none;
}

a:focus{
	outline : none;
}

.roundImg{
	border : 3px solid #FFFFFF;
	border-radius: 27px;
	moz-border-radius:27px;
}

.fl{
float:left;
}
.fr{
	float:right;
}
.rec{
width:250px;
height: 95px;
background-color: $base_color;
}
.baseMagTop{
margin-top:7.5px;
}
.common_nav{
width:70px;
height: 90px;
}
.common_font{
	color:$base_color;
	font-size:11pt;
}
.havier_font{
	color:$base_havier_color;
		font-size:11pt;
}
.dark_font{
	color:$dark_color;
		font-size:11pt;
}

.common_rec_img{
	padding-top: 10px;
	padding-left: 10px;
}
.common_icon{
	width:60px;
	height: 60px;
	border-radius: 27px;
	moz-border-radius:27px;
}

.small_icon_50_50{
width:50px;
	height: 50px;
}
.common_round_img{
	border-radius: 25px;
	moz-border-radius:25px;
}
.font_all_black{

	color:black;
}
.font_small{
	font-size : 10pt;
}

.hidden{
  display: none;
}
.border_bottom{
	border-bottom: 0.25px  solid $base_color;
}
.border_bottom_dark{
	border-bottom: 0.25px  solid $dark_color;
}


.font_ya_hei{
	font-family: $font_ya_hei;
}

.vertical-align{
	vertical-align: middle;
}
.align_center{
	text-align: center;
}

.mark_icon:hover{
	cursor:pointer;
}
ul{
	list-style:none;
}