@import "common.scss";
//answer_people_topic

#all_answer_people_topic{
width:$nav_with;
margin-top: 36px;
}
.view_count{
font-family: $font_ya_hei;
font-size: 10pt;
color: $dark_color;
}



.comment_count{
@extend .view_count;
}


.people_answer{
	width:$nav_with;
	height: 200px;
}


.people_answer_content{
	width: $nav_with - 60px;
}
.people_answer_header{
	margin-left: 20px;
	padding-bottom: 10px;
}
.people_answer_header_people_name{
width: $nav_with - 60px - 20px;
}
.people_answer_header_answer_name{
width: $nav_with - 60px - 20px;
padding-right: 10px;
}
.people_answer_header_answer_name img{
	vertical-align: middle;
}


.people_answer_left_bar{
	width: 60px;
}


.people_answer_detail{
height: 105px;
margin-top: 10px;
padding-bottom: 10px;
margin-left: 20px;
}


.people_answer_detail_left_bar{
width: 60px;
height: 95px;

}

.people_answer_detail_text{
	width: $nav_with - 60px - 60px - 60px;
	padding-left: 10px;
  height:  95px;
}
.people_answer_detail_text_context{
	width: $nav_with - 60px - 60px - 60px;
	font-family: $font_ya_hei;
	color: $dark_color;
	font-size: 11pt;
	padding-left: 10px;
  height: 75px;

}
.people_answer_detail_text_time{
	width: $nav_with - 60px - 60px - 60px;
	text-align: right;
	font-family: $font_ya_hei;
	color: $dark_color;
	font-size: 11pt;
	margin-top: -8px;
}
.people_answer_detail_text_time img{
	vertical-align: middle;
}

.people_answer_detail_agree_div{
	width: 60px;
	height: 65px;

}
.people_answer_detail_agree_icon{
	margin-top: -30px;
	padding-top: 35px;
	padding-left: 8px;
	color: #FBCF3B;
	font-weight: bold;
	background-color: #FFFAEE;
	border: 0.25px solid #FBCF3B;

}
.people_answer_detail_agree_icon img{
	vertical-align: middle;
}
.people_answer_detail_agree_count{
	padding-left: 4px;
	padding-top: 3px;
}
.people_answer_detail_pic_div{
	width: 60px;
	height: 60px;
}




//people_new_ask


.people_new_ask{
@extend .people_answer;
height:90px;
}

.people_ask_left_bar{
	width: 60px;
}



.people_ask_content{
	@extend .people_answer_content;
	padding-bottom:10px;
	width: $nav_with - 60px - 16px;
	margin-left: 16px;
}

.people_ask_header{
	@extend .people_answer_header;
	margin-left: 0px;
}
.people_ask_header_people_name{
	@extend .people_answer_header_people_name;
}
.people_ask_header_answer_name{
	@extend .people_answer_header_answer_name;
}

.people_ask_detail_text_time{
	@extend .people_answer_detail_text_time;
	text-align: left;

}


//topic_answer


.topic_answer{
@extend .people_answer;
}

.topic_answer_left_bar{
	width: 60px;
}



.topic_answer_content{
	@extend .people_answer_content;
	width: $nav_with - 60px - 16px;
	margin-left: 16px;
}

.topic_answer_header{
	@extend .people_answer_header;
	margin-left: 0px;
  height: 66px;
}
.topic_answer_header_people_name{
	@extend .people_answer_header_people_name;
}

.topic_answer_detail{
	@extend .people_answer_detail;
	height:120px;
	margin-left: 0px;
}
.topic_answer_detail_left_bar{
	@extend .people_answer_detail_left_bar;

}
.topic_answer_detail_pic_div{
	@extend .people_answer_detail_pic_div;
}
.topic_answer_detail_agree_div{
	@extend .people_answer_detail_agree_div;
}
.topic_answer_detail_agree_icon{
	@extend .people_answer_detail_agree_icon;
}
.topic_answer_detail_text{
	@extend .people_answer_detail_text;

}
.topic_answer_detail_text_context{
	@extend .people_answer_detail_text_context;
}


.topic_answer_detail_text_time{
	@extend .people_answer_detail_text_time;
	text-align: left;
	padding-left: 10px;
}

//answer


.answer{
@extend .people_answer;
}

.answer_left_bar{
	width: 60px;
}



.answer_content{
	@extend .people_answer_content;
	width: $nav_with - 60px - 16px;
	margin-left: 16px;
}

.answer_header{
	@extend .people_answer_header;
	margin-left: 0px;
}
.answer_header_people_name{
	@extend .people_answer_header_people_name;
}

.answer_detail{
	@extend .people_answer_detail;
	height:120px;
	margin-left: 0px;
}
.answer_detail_left_bar{
	@extend .people_answer_detail_left_bar;

}
.answer_detail_pic_div{
	@extend .people_answer_detail_pic_div;
}
.answer_detail_agree_div{
	@extend .people_answer_detail_agree_div;
}
.answer_detail_agree_icon{
	@extend .people_answer_detail_agree_icon;
}
.answer_detail_text{
	@extend .people_answer_detail_text;

}
.answer_detail_text_context{
	@extend .people_answer_detail_text_context;
}


.answerdetail_text_time{
	@extend .people_answer_detail_text_time;
	text-align: left;
	padding-left: 10px;
}


//description of overlay image
.over_img img{
z-index: 0;
}
.over_img_container{
}
.over_img_description{
height: 20px;
background-color: rgba(102,102,102,0.5);
color: white;
z-index: 9999;
}

$img_description_height:25px;
.modal {
    /*overlay position*/
    position: relative;
    line-height: $img_description_height;
    height: $img_description_height;
    margin-top: ($img_description_height * -1);

    text-align: center;

    //insurance of floating above all of the divs
    z-index: 10;

}

.base_bg_color_85{
	background-color: rgba(23,169,184,0.85);
}

//new Poper css


.new_answer_container{
        background-color: #EFFCFC;
        border:1px solid #1EA4AC;
        -moz-border-radius: 5px;      /* Gecko browsers */
        -webkit-border-radius: 5px;   /* Webkit browsers */
         border-radius:5px;            /* W3C syntax */
    }
.am-modal-no-btn .am-modal-dialog{
      background-color: #EFFCFC;
     -moz-border-radius: 5px;      /* Gecko browsers */
        -webkit-border-radius: 5px;   /* Webkit browsers */
         border-radius:5px;
}

.dialog_close_btn{
    background-color: #1EA4AC;
    color: white;
    width: 24px;
    -moz-border-radius: 12px;      /* Gecko browsers */
    -webkit-border-radius: 12px;   /* Webkit browsers */
    border-radius:12px;
}
    .am-modal-hd .am-close{
        right: 10px;
        top: 15px;
    }
    .am-modal-bd{
        padding-left: 60px;
    padding-right: 60px;;
    }
    .new_answer_description h1{
        color:#1EA4AC;
        font-size: 13pt;
        text-align: left;
         margin-top: 15px;
         margin-bottom: 15px;
    }
    .new_answer_description p{
        color:#666666;
        font-size: 10pt;
        line-height: 22px;
        text-align: left;
        margin:0px;
    }
    .new_answer_description h2{
        color:#666666;
        font-size: 12pt;
        text-align: left;
           margin-top: 10px;
         margin-bottom: 0px;
    }
    .new_answer_description h3{
        color:#666666;
        font-size: 10pt;
        text-align: left;
           margin-top: 10px;
      margin-bottom: 0px;
        font-weight:normal;
    }
.new_answer_form_container{
    width: 100%;
}
    .new_answer_content_input{
        width: 100%;
        height: 30px;
        margin-top: 15px;
    }
    .new_answer_desc_input{
        width: 100%;
        height: 45px;
         margin-top: 15px;
    }
    .common_input_border{
        border:1.5px solid #1EA4AC;
        -moz-border-radius: 3px;      /* Gecko browsers */
        -webkit-border-radius: 3px;   /* Webkit browsers */
         border-radius:3px;            /* W3C syntax */
    }
    .common_button_border{
         background-color: #EFFCFC;
        border:1.5px solid #1EA4AC;
        -moz-border-radius: 3px;      /* Gecko browsers */
        -webkit-border-radius: 3px;   /* Webkit browsers */
         border-radius:3px; /* W3C syntax */
        width: 120px;
         height: 30px;
      font-size: 10pt;
        line-height: 30px;
        padding: 0px;
        margin: 0px;
    }
       .common_button_border:hover{
background-color: #1EA4AC;
           color:white;
       }

.submit_question_btn{
    background-color: #17A9B8;
    color:#ffffff;
    width: 100px;
   font-size:11pt;
            -moz-border-radius: 3px;      /* Gecko browsers */
        -webkit-border-radius: 3px;   /* Webkit browsers */
         border-radius:3px; /* W3C syntax */
}
    .submit_question_btn:hover{
        background-color:#2A7393;
        color:#ffffff;
    }
.to_add_paper_btn{
    color:#FFFFFF;
    background-color:#328CBE;
     width: 100px;
  font-size: 11pt;
            -moz-border-radius: 3px;      /* Gecko browsers */
        -webkit-border-radius: 3px;   /* Webkit browsers */
         border-radius:3px; /* W3C syntax */
  margin-right: 15px;

}
    .to_add_paper_btn:hover{
         background-color:#068791;
        color:#ffffff;
    }
.topic_selecter_container{
    margin-top: 15px;
  text-align: left;
  font-size: 10pt;
  color:$dark_color;
}
    .commit_container{
          margin-top: 15px;
    }
   .new_answer_input_container{
     width: 100%;
   }
   .new_answer_content_recomman_container{
     width: 100%;
   }

 //answer list recommand
.topic_answer_list_content{
	width: $nav_with;
	height: 180px;
	background-color: #F9FFFF;
}
.topic_answer_list_content ul{
	list-style: none;
	padding-left: 0px;
  padding-right: 0px;
}
.topic_answer_list_content ul li{
	height: 35px;
	line-height: 35px;
}
.topic_answer_list_content_new_answer{
  height: auto;
width: 745px;
}

.topic_answer_list_content_new_answer ul li{
	height: 30px;
	line-height: 30px;
  color: $dark_color;
  font-size: 10pt;
}
.new_answer_content_recomman_container p{
  margin-top: 4px;
  margin-bottom: 4px;
}

//selecter css
.primary_btn{
    color:#FFFFFF;
            background-color:#068791;
     width: 100px;
  font-size: 11pt;
            -moz-border-radius: 3px;      /* Gecko browsers */
        -webkit-border-radius: 3px;   /* Webkit browsers */
         border-radius:3px; /* W3C syntax */


}
    .primary_btn:hover{

        background-color:#328CBE;
        color:#ffffff;
    }




    .base_color_btn{
    color:#FFFFFF;
            background-color:$base_color;
     width: 100px;
  font-size: 11pt;
            -moz-border-radius: 3px;      /* Gecko browsers */
        -webkit-border-radius: 3px;   /* Webkit browsers */
         border-radius:3px; /* W3C syntax */


}
    .base_color_btn:hover{

        background-color:$base_havier_color;
        color:#ffffff;
    }


.common_selecter{
	height: 44px;
	line-height: 44px;
	font-size: 10pt;
}

.common_select{
  width: 170px;
  height: 32px;
  line-height: 32px;
  border:1px solid $base_color;
  background-color: #F0FCFC;
  color: $dark_color;
  padding: 0px;
  	border-radius: 4px;
	moz-border-radius:4px;
}
.common_blank_border{
   border:1px solid $base_color;
  background-color: #F0FCFC;
  color: $dark_color;
  padding: 0px;
  	border-radius: 4px;
	moz-border-radius:4px;
}

.cornor{
  background-color: $base_color;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: white;
    	border-radius: 3px;
	moz-border-radius:3px;
}

.common_selecter:hover{
  cursor: pointer;
}

.am-dropdown-content>li>a:hover{
  cursor: pointer;
}