<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" /> 

<script src="/static/jquery.min.js"></script>
<script src="/static/csrf.js"></script>

<script>
$.ajaxSetup({
  data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
});

$(document).ready(function(){
    $("#button1").click(function(){
    
		$.ajax({
		    url: 'http://127.0.0.1:8000/getFocusTopic/',
		    dataType: "json",
		    data: {"user_id": "1", "page": "1" },
		    type: 'get', //this is the default though, you don't actually need to always mention it
		    success: function(result) {
		    	var str = JSON.stringify(result, null, 2); // spacing level = 2
		        // alert(result);
            	$("#div2").html(str);
		    },
		    failure: function(data) { 
		        alert('Got an error dude');
		    }
		}); 
    });
    
 	$("#button2").click(function(){
		$.ajax({
		    url: 'http://127.0.0.1:8000/getSchoolTopic/',
		    dataType: "json",
		    data: {"user_id": "1", "page": "1" },
		    type: 'get', //this is the default though, you don't actually need to always mention it
		    success: function(result) {
		    	var str = JSON.stringify(result, null, 2); // spacing level = 2
		        // alert(result);
            	$("#div2").html(str);
		    },
		    failure: function(data) { 
		        alert('Got an error dude');
		    }
		}); 
    });

    $("#button3").click(function(){
		$.ajax({
		    url: 'http://127.0.0.1:8000/getTopicQuestion/',
		    dataType: "json",
		    data: {"topic_id": "1", "page": "1" },
		    type: 'get', //this is the default though, you don't actually need to always mention it
		    success: function(result) {
		    	var str = JSON.stringify(result, null, 2); // spacing level = 2
		        // alert(result);
            	$("#div2").html(str);
		    },
		    failure: function(data) { 
		        alert('Got an error dude');
		    }
		});
    });

    $("#button4").click(function(){
		$.ajax({
		    url: 'http://127.0.0.1:8000/getFocusedSchoolmateData/',
		    dataType: "json",
		    data: {"user_id": "1", "page": "1" },
		    type: 'get', //this is the default though, you don't actually need to always mention it
		    success: function(result) {
		    	var str = JSON.stringify(result, null, 2); // spacing level = 2
		        // alert(result);
            	$("#div2").html(str);
		    },
		    failure: function(data) { 
		        alert('Got an error dude');
		    }
		});
    });

    $("#button5").click(function(){
		$.ajax({
		    url: 'http://127.0.0.1:8000/getPopularSchoolmateData/',
		    dataType: "json",
		    data: {"user_id": "1", "page": "1" },
		    type: 'get', //this is the default though, you don't actually need to always mention it
		    success: function(result) {
		    	var str = JSON.stringify(result, null, 2); // spacing level = 2
		        // alert(result);
            	$("#div2").html(str);
		    },
		    failure: function(data) { 
		        alert('Got an error dude');
		    }
		});
    });
   
  //   $("#button6").click(function(){
		// $.ajax({
		//     url: 'http://127.0.0.1:8000/submitQuestion/',
		//     dataType: "json",
		//     data: {"user_id": "1", "page": "1" },
		//     type: 'get', //this is the default though, you don't actually need to always mention it
		//     success: function(result) {
		//         // alert(result);
  //           	$("#div2").html(result);
		//     },
		//     failure: function(data) { 
		//         alert('Got an error dude');
		//     }
		// });
  //   });

});


</script>
</head>
<body>

<div id="div1"><h2>Test Ajax for Django View Functions</h2></div>
<div id="div2"></div>

<button id="button1">getFocusTopic</button>
<button id="button2">getSchoolTopic</button>
<button id="button3">getTopicQuestion</button>

<button id="button4">getFocusedSchoolmate</button>
<button id="button5">getPopularSchoolmateData</button>

<!-- <button id="button6">submitQuestion</button> -->

</body>
</html>
