a {
  outline: none; }

a:focus {
  outline: none; }

.roundImg {
  border: 3px solid #FFFFFF;
  border-radius: 27px;
  moz-border-radius: 27px; }

.fl {
  float: left; }

.fr {
  float: right; }

.rec {
  width: 250px;
  height: 95px;
  background-color: #17a9b8; }

.baseMagTop {
  margin-top: 7.5px; }

.common_nav {
  width: 70px;
  height: 90px; }

.common_font {
  color: #17a9b8;
  font-size: 11pt; }

.havier_font {
  color: #328cbe;
  font-size: 11pt; }

.dark_font {
  color: #666666;
  font-size: 11pt; }

.common_rec_img {
  padding-top: 10px;
  padding-left: 10px; }

.common_icon {
  width: 60px;
  height: 60px;
  border-radius: 27px;
  moz-border-radius: 27px; }

.font_all_black {
  color: black; }

.font_small {
  font-size: 10pt; }

.border_bottom {
  border-bottom: 0.25px solid #17a9b8; }

.border_bottom_dark {
  border-bottom: 0.25px solid #666666; }

.font_ya_hei {
  font-family: "Microsoft Yahei"; }

.vertical-align {
  vertical-align: middle; }

.align_center {
  text-align: center; }

.ad_area {
  width: 200px;
  height: 210px;
  background-color: #AADDFF; }

.related_answer_area {
  width: 200px; }

.related_answer_tab {
  background-image: url("/static/image/index/related_answer_tab.png");
  background-repeat: no-repeat;
  height: 44px;
  width: 200px;
  margin-top: 20px; }

.related_simple_answer {
  margin-top: 20px; }

.answer_topic_name {
  width: 200px;
  height: 30px; }

.answer_title {
  margin-top: 10px; }

.view_comment_area {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right; }

.answer_topic_image {
  background-image: url("/static/image/index/topic_title_bkg.png");
  background-repeat: no-repeat;
  width: 85px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: white;
  font-size: 11pt; }

.nav_container {
  width: 880px; }

.left_bar {
  width: 60px;
  float: left; }

.top_level_container {
  width: 820px;
  float: right;
  padding-left: 15px; }

.second_level_container {
  width: 730px;
  float: right;
  padding-left: 15px; }

.answer_user_detail {
  width: 820px;
  height: 20px;
  line-height: 20px; }

.response_text_container {
  width: 820px;
  padding-right: 30px;
  margin-top: 20px;
  line-height: 20px; }

.response_image_container {
  width: 820px; }

.response_image_container img {
  width: 790px; }

.common_icon img {
  width: 60px;
  height: 60px;
  border-radius: 27px;
  moz-border-radius: 27px; }

.agree_count_area {
  height: 64px;
  line-height: 64px;
  width: 60px;
  margin-top: -30px;
  color: #FBCF3B;
  padding-top: 10px;
  background-color: #FFFAEE;
  border: 0.25px solid #FBCF3B;
  font-weight: bold;
  font-size: 10pt;
  text-align: center; }

.answer_topic_container, .answer_title_container, .answer_content_container {
  width: 820px; }

.answer_title_container {
  margin-bottom: 10px; }

.icon_bar_container {
  width: 820px;
  height: 36px;
  line-height: 36px;
  font-size: 10pt;
  font-family: "Microsoft Yahei";
  color: #666666;
  margin-top: 20px; }

.time_and_comment_container {
  width: 820px;
  height: 25px;
  line-height: 25px; }

.time_icon_container {
  width: 150px;
  font-size: 10pt; }

.comment_icon_container {
  width: 130px;
  padding-left: 30px; }

.answer_comment_area {
  width: 820px;
  height: 200px;
  background-color: #F0FCFC; }

.mark_container {
  width: 120px;
  height: 35px;
  background-image: url("/static/image/index/mark_button.png");
  background-repeat: no-repeat; }

.mark_container:hover {
  background-image: url("/static/image/index/mark_button_active.png"); }

.answer_invite_container {
  width: 120px;
  height: 35px;
  background-image: url("/static/image/index/answer_invite_button.png");
  background-repeat: no-repeat; }

.answer_invite_container:hover {
  background-image: url("/static/image/index/answer_invite_button_active.png"); }

.want_to_share_container {
  width: 120px;
  height: 35px;
  background-image: url("/static/image/index/want_to_share_button.png");
  background-repeat: no-repeat; }

.want_to_share_container:hover {
  background-image: url("/static/image/index/want_to_share_button_active.png"); }

.want_answer_container {
  width: 170px;
  height: 35px;
  background-image: url("/static/image/index/want_answer_button.png");
  background-repeat: no-repeat;
  text-align: center;
  padding-left: 105px; }

.want_answer_container:hover {
  background-image: url("/static/image/index/want_answer_button_active.png"); }

.button_margin {
  margin-left: -5px; }

.response_tab_container {
  width: 880px;
  height: 44px;
  line-height: 44px;
  background-image: url("/static/image/index/tab_bkg.png");
  background-repeat: no-repeat; }

.commment_count_tab {
  width: 162px;
  height: 44px;
  text-align: center;
  font-size: 10pt;
  font-weight: bold;
  font-family: "Microsoft Yahei";
  color: white;
  background-image: url("/static/image/index/comment_tab.png");
  background-repeat: no-repeat; }

.common_selecter {
  height: 44px;
  line-height: 44px;
  font-size: 10pt; }

.only_common_schooler_replay_selecter {
  width: 162px;
  margin-left: 120px;
  margin-right: 10px; }

.spiltter {
  color: #17a9b8;
  font-size: 9pt; }

.comparator_container {
  margin-left: 20px; }

.common_selecter_margin {
  margin-left: 20px; }

.response_container {
  width: 880px;
  margin-top: 30px; }
