#header_bg {
  height: 90px;
  width: 100%;
  background-color: #17A9B8; }

#header {
  width: 1140px;
  height: 90px;
  margin: 0 auto; }

#header_blank_left {
  width: 150px;
  height: 90px; }

#main_nav_bg {
  width: 880px;
  height: 90px;
  background-image: url(../image/index/nav_bar_bg.png);
  float: left; }

#logo {
  width: 196px;
  height: 90px; }

#navContainer {
  width: 300px; }

#search {
  padding-top: 36px;
  width: 240px; }

#search .am-form-field {
  border-radius: 5px;
  moz-border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 0; }

#search .am-input-group-btn {
  background-color: white;
  border-radius: 5px;
  moz-border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 0;
  border-left: 0.75px solid #17A9B8; }

#search .am-btn {
  border: 0; }

#navContainer ul li a {
  padding: 0 0; }

.nav_active, #navContainer ul li a:hover {
  background-color: transparent;
  background-image: url(../image/index/active_bkg.png); }

.home_nav_active, #home_nav:hover {
  background-image: url(../image/index/home_nav_active.png); }

.topic_nav_active, #topic_nav:hover {
  background-image: url(../image/index/topic_nav_active.png); }

.schooller_nav_active, #schooller_nav:hover {
  background-image: url(../image/index/schooler_nav_active.png); }

.message_nav_active, #message_nav:hover {
  background-image: url(../image/index/message_nav_avtive.png); }

#newPoper {
  width: 120px;
  height: 90px; }

#newPoper a {
  width: 120px; }

#newPoperText {
  font-size: 12pt;
  color: #17A9B8;
  padding-left: 64px;
  margin-top: 43px;
  height: 30px; }

#user_info {
  width: 260px; }

#user_info_content {
  line-height: 27px;
  height: 55px;
  color: #FFF;
  font-size: 12pt;
  padding-top: 17.5px;
  padding-right: 30px; }

#user_info_img {
  width: 55px;
  height: 55px;
  padding-top: 17.5px; }

#banner {
  height: 300px;
  width: 1140px;
  margin-top: 4px; }

#banner_image {
  height: 300px;
  width: 880px; }

#banner_content {
  padding-left: 10px;
  height: 300px; }

#container {
  width: 1140px;
  margin: 0 auto; }

#focus_area {
  width: 1140px;
  margin-top: 50px; }

#focus_answer {
  width: 880px; }

#focus_answer_tabs {
  width: 880px;
  height: 45px;
  background-image: url(../image/index/my_interest_tab.png);
  background-repeat: no-repeat; }

#my_interest_tab {
  width: 0px;
  height: 45px; }

#hot_answer_tab {
  width: 880px;
  height: 45px;
  background-image: url(../image/index/hot_answer_tab.png);
  background-repeat: no-repeat; }

#focus_people {
  width: 200px;
  margin-left: 60px; }

#focus_people_tab {
  width: 200px;
  height: 45px;
  background-image: url(../image/index/people_and_answer_tab.png);
  background-repeat: no-repeat; }

#interest_topic_icon {
  width: 60px;
  height: 280px; }

#lighting_icon {
  background-image: url(../image/index/lighting_icon.png);
  background-repeat: no-repeat;
  background-color: #F9C000; }

#interest_topic {
  margin-top: 30px; }

#interest_topic_body, #interest_people_body {
  padding-top: 10px;
  margin-left: 20px;
  width: 800px; }

#interest_topic_body_header, #interest_people_body_header {
  width: 790px; }

#interest_topic_body_lead_content {
  padding-top: 5px; }

#interest_topic_body_topics, #interest_people_body_topics {
  padding-top: 10px; }

.to_interest_topic, .to_interest_people {
  width: 200px;
  margin-left: 34px;
  padding-bottom: 30px; }

.ask_and_interest_div {
  width: 200px;
  margin-top: 25px;
  height: 25px; }

.mark_topic_icon {
  padding-top: 18px; }

#to_left_topic {
  width: 30px; }

.people_and_answer {
  width: 200px;
  color: #328CBE;
  margin-top: 22px;
  margin-bottom: 22px;
  border-bottom: 0.25px solid #666666; }

.people_and_answer_title {
  line-height: 17px; }

.people_and_answer_userinfo {
  padding-top: 15px; }

.people_and_answer_content {
  padding-left: 15px;
  line-height: 15px; }

#schooler_icon {
  background-image: url(../image/index/interesting_schooler_icon.png);
  background-repeat: no-repeat;
  background-color: #A9D816; }

#interest_people {
  margin-top: 30px; }

#interest_people_body_topics {
  height: 160px; }

.mark_people_icon {
  margin-top: 18px;
  width: 200px;
  height: 30px; }

.interest_people_detail_div {
  width: 200px;
  height: 90px; }

.interest_people_name {
  background-color: #17A9B8;
  color: white;
  text-align: center;
  font-size: 11pt;
  padding-top: 2px;
  padding-bottom: 2px; }

.interest_people_pic_div {
  width: 75px; }

.interest_people_detail {
  padding-left: 5px;
  padding-top: 10px;
  width: 120px;
  font-size: 11pt;
  font-family: "Microsoft Yahei";
  color: #666666; }

.interest_people_detail span {
  font-size: 11pt;
  ont-family: "Microsoft Yahei"; }

#all_answer_people_topic {
  width: 880px;
  margin-top: 36px; }

.view_count, .comment_count {
  font-family: "Microsoft Yahei";
  font-size: 10pt;
  color: #666666; }

.people_answer, .people_new_ask, .topic_answer {
  width: 880px;
  height: 200px; }

.people_answer_content, .people_ask_content, .topic_answer_content {
  width: 820px; }

.people_answer_header, .people_ask_header, .topic_answer_header {
  margin-left: 20px;
  padding-bottom: 10px; }

.people_answer_header_people_name, .people_ask_header_people_name, .topic_answer_header_people_name {
  width: 800px; }

.people_answer_header_answer_name, .people_ask_header_answer_name {
  width: 800px;
  padding-top: 10px;
  padding-right: 10px; }

.people_answer_header_answer_name img, .people_ask_header_answer_name img {
  vertical-align: middle; }

.people_answer_left_bar {
  width: 60px; }

.people_answer_detail, .topic_answer_detail {
  height: 105px;
  margin-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px; }

.people_answer_detail_left_bar, .topic_answer_detail_left_bar {
  width: 60px;
  height: 95px; }

.people_answer_detail_text, .topic_answer_detail_text {
  width: 700px;
  padding-left: 10px; }

.people_answer_detail_text_context, .topic_answer_detail_text_context {
  width: 700px;
  padding-top: 20px;
  font-family: "Microsoft Yahei";
  color: #666666;
  font-size: 11pt;
  padding-left: 10px; }

.people_answer_detail_text_time, .people_ask_detail_text_time, .topic_answer_detail_text_time {
  width: 700px;
  text-align: right;
  font-family: "Microsoft Yahei";
  color: #666666;
  font-size: 11pt;
  margin-top: -8px; }

.people_answer_detail_text_time img, .people_ask_detail_text_time img, .topic_answer_detail_text_time img {
  vertical-align: middle; }

.people_answer_detail_agree_div, .topic_answer_detail_agree_div {
  width: 60px;
  height: 65px; }

.people_answer_detail_agree_icon, .topic_answer_detail_agree_icon {
  margin-top: -30px;
  padding-top: 35px;
  padding-left: 8px;
  color: #FBCF3B;
  font-weight: bold;
  background-color: #FFFAEE;
  border: 0.25px solid #FBCF3B; }

.people_answer_detail_agree_icon img, .topic_answer_detail_agree_icon img {
  vertical-align: middle; }

.people_answer_detail_agree_count {
  padding-left: 4px;
  padding-top: 3px; }

.people_answer_detail_pic_div, .topic_answer_detail_pic_div {
  width: 60px;
  height: 60px; }

.people_new_ask {
  height: 90px; }

.people_ask_left_bar {
  width: 60px; }

.people_ask_content {
  padding-bottom: 10px;
  width: 804px;
  margin-left: 16px; }

.people_ask_header {
  margin-left: 0px; }

.people_ask_detail_text_time {
  text-align: left; }

.topic_answer_left_bar {
  width: 60px; }

.topic_answer_content {
  width: 804px;
  margin-left: 16px; }

.topic_answer_header {
  margin-left: 0px; }

.topic_answer_detail {
  height: 115px;
  margin-left: 0px; }

.topic_answer_detail_text_time {
  text-align: left;
  padding-left: 10px; }

#footer {
  height: 180px;
  width: 100%;
  background-color: #FAF; }

.roundImg {
  border: 3px solid #FFFFFF;
  border-radius: 27px;
  moz-border-radius: 27px; }

.fl {
  float: left; }

.fr {
  float: right; }

.rec {
  width: 250px;
  height: 95px;
  background-color: #17A9B8; }

.baseMagTop {
  margin-top: 7.5px; }

.common_nav {
  width: 70px;
  height: 90px; }

.common_font {
  color: #17A9B8;
  font-size: 11pt; }

.havier_font {
  color: #328CBE;
  font-size: 11pt; }

.dark_font {
  color: #666666;
  font-size: 11pt; }

.common_rec_img {
  padding-top: 10px;
  padding-left: 10px; }

.common_icon {
  width: 60px;
  height: 60px;
  border-radius: 27px;
  moz-border-radius: 27px; }

.font_all_black {
  color: black; }

.font_small {
  font-size: 10pt; }

.border_bottom {
  border-bottom: 0.25px solid #17A9B8; }

.border_bottom_dark {
  border-bottom: 0.25px solid #666666; }

.font_ya_hei {
  font-family: "Microsoft Yahei"; }

.vertical-align {
  vertical-align: middle; }

/*# sourceMappingURL=index.css.map */
