html, body {
  margin: 0;
  height: 100%; }

a {
  outline: none; }

a:focus {
  outline: none; }

.roundImg {
  border: 3px solid #FFFFFF;
  border-radius: 27px;
  moz-border-radius: 27px; }

.fl {
  float: left; }

.fr {
  float: right; }

.rec {
  width: 250px;
  height: 95px;
  background-color: #17A9B8; }

.baseMagTop {
  margin-top: 7.5px; }

.common_nav {
  width: 70px;
  height: 90px; }

.common_font {
  color: #17A9B8;
  font-size: 11pt; }

.havier_font {
  color: #328CBE;
  font-size: 11pt; }

.dark_font {
  color: #666666;
  font-size: 11pt; }

.common_rec_img {
  padding-top: 10px;
  padding-left: 10px; }

.common_icon {
  width: 60px;
  height: 60px;
  border-radius: 27px;
  moz-border-radius: 27px; }

.font_all_black {
  color: black; }

.font_small {
  font-size: 10pt; }

.hidden {
  display: none; }

.border_bottom {
  border-bottom: 0.25px solid #17A9B8; }

.border_bottom_dark {
  border-bottom: 0.25px solid #666666; }

.font_ya_hei {
  font-family: "Microsoft Yahei"; }

.vertical-align {
  vertical-align: middle; }

.align_center {
  text-align: center; }

.system_container {
  width: 920px;
  margin: 0 auto; }

.login_bkg {
  background-image: url("/static/image/system_bkg.png");
  background-size: 100%; }

.opacity_bkg {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%; }

.register_bkg {
  background-image: url("/static/image/system_bkg.png");
  background-size: 100%; }

.system_logo {
  width: 920px;
  height: 126px;
  background-image: url("/static/image/system/logo_slogan.png");
  background-repeat: no-repeat; }

.main_area {
  width: 940px;
  padding-right: 10px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.85); }

.image_area {
  height: 404px;
  width: 520px;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px; }

.image_area .image {
  width: 420px;
  height: 300px;
  background-color: #095f8a; }

.login_area {
  height: 404px;
  width: 400px;
  background-color: rgba(32, 178, 170, 0.2); }

.register_area {
  height: 404px;
  width: 400px; }

.common_form_size, .user_form, .password_form, .remember_me_form, .three_part_login_form, .submit_form, .mail_form, .user_name_form, .current_stage_form, .sex_form {
  width: 400px;
  height: 40px;
  line-height: 40px;
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  color: #666666; }

.user_form {
  margin-top: 45px; }

.common_login_field {
  width: 270px; }

.mail_form {
  margin-top: 60px; }

.goto_register_container {
  margin-left: 60px; }

.primary_btn {
  color: #FFFFFF;
  background-color: #068791;
  width: 100px;
  font-size: 11pt;
  -moz-border-radius: 3px;
  /* Gecko browsers */
  -webkit-border-radius: 3px;
  /* Webkit browsers */
  border-radius: 3px;
  /* W3C syntax */ }

.primary_btn:hover {
  background-color: #328CBE;
  color: #ffffff; }

.base_color_btn {
  color: #FFFFFF;
  background-color: #17A9B8;
  width: 100px;
  font-size: 11pt;
  -moz-border-radius: 3px;
  /* Gecko browsers */
  -webkit-border-radius: 3px;
  /* Webkit browsers */
  border-radius: 3px;
  /* W3C syntax */ }

.base_color_btn:hover {
  background-color: #328CBE;
  color: #ffffff; }

.common_selecter {
  height: 44px;
  line-height: 44px;
  font-size: 10pt; }

.top_title {
  width: 920px;
  margin-bottom: -20px;
  position: relative;
  z-index: 10; }

.register_title {
  padding-right: 30px; }

.bottom_title {
  width: 920px; }

.second_part {
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 30px;
  padding-top: 15px; }

.second_part .common_register_container {
  height: 50px;
  line-height: 50px;
  margin-top: 25px; }

.common_select {
  width: 170px;
  height: 32px;
  line-height: 32px;
  border: 1px solid #17A9B8;
  background-color: #F0FCFC;
  color: #666666;
  padding: 0px;
  border-radius: 4px;
  moz-border-radius: 4px; }

.common_blank_border {
  border: 1px solid #17A9B8;
  background-color: #F0FCFC;
  color: #666666;
  padding: 0px;
  border-radius: 4px;
  moz-border-radius: 4px; }

.self_intro_form {
  width: 850px;
  height: 60px; }

.common_margin_select {
  margin-left: 30px; }

.cornor {
  background-color: #17A9B8;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: white;
  border-radius: 3px;
  moz-border-radius: 3px; }

.register_submit {
  margin-left: 40px; }

/*# sourceMappingURL=system.css.map */
