a {
  outline: none; }

a:focus {
  outline: none; }

.roundImg {
  border: 3px solid #FFFFFF;
  border-radius: 27px;
  moz-border-radius: 27px; }

.fl {
  float: left; }

.fr {
  float: right; }

.rec {
  width: 250px;
  height: 95px;
  background-color: #17a9b8; }

.baseMagTop {
  margin-top: 7.5px; }

.common_nav {
  width: 70px;
  height: 90px; }

.common_font {
  color: #17a9b8;
  font-size: 11pt; }

.havier_font {
  color: #328cbe;
  font-size: 11pt; }

.dark_font {
  color: #666666;
  font-size: 11pt; }

.common_rec_img {
  padding-top: 10px;
  padding-left: 10px; }

.common_icon {
  width: 60px;
  height: 60px;
  border-radius: 27px;
  moz-border-radius: 27px; }

.font_all_black {
  color: black; }

.font_small {
  font-size: 10pt; }

.border_bottom {
  border-bottom: 0.25px solid #17a9b8; }

.border_bottom_dark {
  border-bottom: 0.25px solid #666666; }

.font_ya_hei {
  font-family: "Microsoft Yahei"; }

.vertical-align {
  vertical-align: middle; }

.align_center {
  text-align: center; }

.my_interest_topic_tab {
  background-image: url("/static/image/index/my_interest_topic_tab.png");
  background-repeat: no-repeat; }

.hot_topic_tab {
  background-image: url("/static/image/index/hot_topic_tab.png");
  background-repeat: no-repeat; }

#my_interest_topic_tab:hover, .my_interest_topic_tab_active {
  background-image: url("/static/image/index/my_interest_topic_tab_active.png");
  background-repeat: no-repeat; }

#hot_topic_tab:hover, .hot_topic_tab_active {
  background-image: url("/static/image/index/hot_topic_tab_active.png");
  background-repeat: no-repeat; }

.topic_recommend_tab {
  background-image: url("/static/image/index/topic_recommend_tab.png");
  background-repeat: no-repeat;
  height: 44px;
  width: 200px; }

.to_interest_topic {
  margin-left: 0px;
  margin-top: 20px;
  border-bottom: 0.25px solid #666666; }

.topic_and_answer_recommend_container {
  width: 880px;
  margin-top: 30px; }

.topic_detail_area {
  width: 880px;
  height: 130px; }

.topic_answer_list_area {
  width: 880px;
  height: 225px; }

.topic_img {
  height: 130px;
  width: 200px; }

.topic_detail_content {
  width: 680px;
  height: 130px;
  padding-left: 20px; }

.topic_detail_content h1 {
  font-size: 13pt; }

.topic_detail_content p {
  margin-top: 10px;
  margin-bottom: 10px; }

.topic_icons .ask_and_interest_div {
  margin-top: 0px; }

.topic_icons .mark_icon_container {
  margin-top: 0px; }

.topic_answer_list_header {
  width: 880px;
  height: 30px; }

.topic_answer_list_content {
  width: 880px;
  height: 180px;
  background-color: #F9FFFF; }

.topic_answer_list_content ul {
  list-style: none;
  padding-left: 0px; }

.topic_answer_list_content ul li {
  height: 35px;
  line-height: 35px; }

.recommend_hot_topic_icons {
  width: 880px;
  height: 130px; }

.topic_rec_normal {
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-image: url("/static/image/index/topic_rec.png");
  background-repeat: no-repeat;
  font-size: 10pt;
  margin-top: 20px; }

.topic_rec_normal:hover {
  background-image: url("/static/image/index/topic_rec_active.png");
  background-repeat: no-repeat; }

.topic_rec_margin {
  margin-left: 93.33333px; }
